{% if settings.collection_breadcrumb %}
    {% assign breadcrumb = true %}
    {% for cat in linklists.main-menu.links %}
        {% unless breadcrumb %}
            {% break %}
        {% endunless %}
        {% for subcat in linklists[cat.handle].links %}
            {% if subcat.active %}
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ cat.url }}" title="{{ cat.name | escape }}" itemprop="item"><span itemprop="name">{{ cat.title }}</span></a></span>
                &nbsp;<span class="icon-right-arrow"></span>
                {{ subcat.title }}
                {% assign breadcrumb = false %}
            {% else %}
                {% for link in linklists[subcat.handle].links %}
                    {% unless breadcrumb %}
                        {% break %}
                    {% endunless %}           
                    {% if link.active %}
                        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ cat.url }}" title="{{ cat.title | escape }}" itemprop="item"><span itemprop="name"> {{ cat.title }} </span></a></span>
                        &nbsp;<span class="icon-right-arrow"></span>
                        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ subcat.url }}" title="{{ subcat.title | escape }}" itemprop="item"><span itemprop="name">{{ subcat.title }}</span></a></span>
                        &nbsp;<span class="icon-right-arrow"></span> {{ link.title }}
                        {% assign breadcrumb = false %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% if breadcrumb %}
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
        &nbsp;<span class="icon-right-arrow"></span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a></span>       
        {% if current_tags %}
          {% for tag in current_tags %}
            &nbsp;<span class="icon-right-arrow"></span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
          {% endfor %}
        {% endif %}

        {% if paginate.pages != 0 %}      
          &nbsp;<span class="icon-right-arrow"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
        {% endif %}
    {% endif %}
{% endif %}
