<a href="{{ collection.url }}" title="{{ collection.title }}">
        <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}" style="opacity: 1;">
        <div class="shop-now-box">
	        <p class="collection-title">{{ collection.title | upcase }}</p>
	        <span class="icon icon-arrow-right shop-now" aria-hidden="true">{% if template == 'page.shop' %} {{ settings.shop_button_text | upcase }} {% else %} {{ settings.create_button_text | upcase }} {% endif %}</span>
	    </div>
</a>