{% if template == "collection" or template == settings.slick_slider_template %}

{% assign suffix = settings.custom_product_template | remove:'product.' %}

<div class="{{ settings.customize_button_class | escape | downcase }}">
    {% if product.template_suffix == suffix %}
        {{ settings.customize_button_text | escape | upcase }}
    {% else %}
        {{ settings.personalize_button_text | escape | upcase }}
    {% endif %}
</div>
{% endif %}