{% if product.available %}
<form action="/cart/add" method="post" enctype="multipart/form-data" class="clearfix product_form" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" id="product-form-{{ product.id }}">
    <input type="hidden" name="properties[_FrontImg]" id="front-image">
    <input type="hidden" name="properties[_BackImg]" id="back-image">
    <input type="hidden" name="properties[_FrontPatternImg]" id="front-pattern-img">
    <input type="hidden" name="properties[_SleeveImg]" id="sleeve-img">
    <input type="hidden" name="properties[_BackPatternImg]" id="back-pattern-img">
    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if product.variants.first.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}

          <p><em>{{ product.variants.first.inventory_quantity }} {{ items_left_text }}</em></p>
        {% endif %}
      </div>
    {% endif %}
    
    {% if product.options.size > 1 %}
      <div class="select">
        <select id="product-select-{{ product.id }}{{ product-form }}" name="id" class="multi_select">
          {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and (product.variants.size > 1 or product.options[0] != "Title") %}
      <div class="select">
        <div class="add-more-box-label">
          <label>{{ product.options[0] }}</label>
          <label for="quantity">{{ 'products.product.quantity' | t }}</label>
        </div>
        {% for variant in product.variants %}
            {% assign index = forloop.index %}
            <div class="add-more-box" {% if forloop.first == false %}style="display:none;"{% endif %}>
              <select name="variant-{{ forloop.index }}" class="product-variants">
                  {% for variant in product.variants %}
                    <option {% if index == forloop.index %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
                  {% endfor %}
              </select>
              <div class="left">       
                  <input type="hidden"  value="{{ variant.id }}" id="variant-{{ forloop.index }}"/>
                  <input type="number" class="variant-quantity" min="0" size="{{ forloop.index }}" {% if forloop.first == true %}value="1"{% else %}value="0"{% endif %} id="quantity-{{ forloop.index }}" {% if variant.inventory_management == 'shopify' and variant.inventory_quantity > 0 and variant.inventory_policy == "deny" %} max="{{ variant.inventory_quantity }}" {% endif %}/>
              </div>
              <div class="minus-plus-btn">
                  {% if forloop.first == true %}
                    <span class="ss-icon plus">+</span>
                  {% else %}
                    <span class="ss-icon minus">-</span>
                  {% endif %}
              </div>
            </div>
        {% endfor %}
      </div>
    {% else %}
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    {% endif %}

    {% if settings.product_form_style == "swatches" and (product.variants.size > 1 or product.options[0] != "Title") %}
      <div class="swatch_options">
        {% for option in product.options %}
          {% include 'product-swatch' with option %}
        {% endfor %}
      </div>
    {% endif %}
    
    {% unless product.variants.size > 1 %}
    <div class="left">
      <label for="quantity">{{ 'products.product.quantity' | t }}</label>
      <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity > 0 and product.variants.first.inventory_policy == "deny" %}max="{{ product.variants.first.inventory_quantity }}"{% endif %} />
    </div> 
    {% endunless %}
    
    <div class="purchase clearfix {% if settings.display_product_quantity %}inline_purchase{% endif %}">
      {% if settings.cart_action == 'reload_page' %}
        <input type="hidden" name="return_to" value="back" />
      {% elsif settings.cart_action == 'redirect_checkout' %}
        <input type="hidden" name="return_to" value="/checkout" />
      {% endif %}

      {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
      <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
    </div>  
  </form>

  {% if product.options.size > 1 %}
    <script type="text/javascript">
      // <![CDATA[  
        $(function() {
          $product = $('.product-' + {{ product.id }});
          new Shopify.OptionSelectors("product-select-{{ product.id }}{{ product-form }}", { product: {{ product | json }}, onVariantSelected: selectCallback{% if template contains 'product' %}, enableHistoryState: true{% endif %} });
        });
      // ]]>
    </script>
  {% endif %}
  
    {% if product.variants.size > 1 %}
    <script>
        $(".product-variants").change(function(e) {
            $('#'+$(this).attr('name')).val($(this).val());
        });
        var length = {{ product.variants.size }};
        $(document).ready(function () {
            $('#front-image').val($('.flex-control-nav li:first').find('img').attr('src'));
            $('#back-image').val($('.flex-control-nav li:last').find('img').attr('src'));
            $("#quantity").focus();    
            $("#product-form-{{ product.id }}").submit(function(e) {
                $.blockUI();    
                e.preventDefault();
                var toAdd = new Array(); //array for Variant Titles
                var qty;
                var variant;
                for(i= 1; i <= length; i++){
                    qty = $("#quantity-"+i).val() || 0;
                    variant = $("#variant-"+i).val();
                    
                    if(qty > 0) {
                        toAdd.push({
                            variant_id: variant,        
                            quantity_id: qty
                        });
                    }
                } 
                function moveAlong(){
                    if (toAdd.length) {
                        var request = toAdd.shift();
                        var tempId= request.variant_id;
                        var tempQty = request.quantity_id;
                        var params = { 
                            quantity: tempQty,
                            id: tempId,
                            properties: {
                              '_FrontImg': $('#front-image').val(),
                              '_BackImg': $('#back-image').val(),
                              '_FrontPatternImg': $('#front-pattern-image').val(),
                              '_SleeveImg': $('#sleeve-image').val(),
                              '_BackPatternImg': $('#back-pattern-image').val()
                            }
                        };
                        jQuery.post('/cart/add.js', params)  
                        .done(function() {
                            moveAlong();
                        })
                        .fail(function() {
                            moveAlong();
                        });
                    } else {
                        $.unblockUI();
                        window.location = "/cart";
                    }  
                };
                moveAlong();
            });
        });
    </script>
  {% endif %}
{% endif %}