{% assign breadcrumb = true %}
<div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for cat in linklists.main-menu.links %}
        {% unless breadcrumb %}
            {% break %}
        {% endunless %}
        {% for subcat in linklists[cat.handle].links %}
            {% unless breadcrumb %}
                {% break %}
            {% endunless %}
            {% if subcat.active %}
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ cat.url }}" title="{{ cat.name | escape }}" itemprop="item"><span itemprop="name">{{ cat.title }}</span></a></span>
                &nbsp;<span class="icon-right-arrow"></span>
                {{ subcat.title }}
                {% assign breadcrumb = false %}
            {% else %}
                {% for link in linklists[subcat.handle].links %}
                    {% if link.active %}
                        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ cat.url }}" title="{{ cat.name | escape }}" itemprop="item"><span itemprop="name">{{ cat.title }}</span></a></span>
                        &nbsp;<span class="icon-right-arrow"></span>
                        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ subcat.url }}" title="{{ subcat.title | escape }}" itemprop="item"><span itemprop="name">{{ subcat.title }}</span></a></span>
                        &nbsp;<span class="icon-right-arrow"></span>
                        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        {% if collection %}
                          <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
                        {% else %}
                          <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>     
                        {% endif %}
                      </span>
                      &nbsp;<span class="icon-right-arrow"></span>
                      {{ product.title }}
                      {% assign breadcrumb = false %}
                    {% endif %}
                {% endfor %}
            {% endif %}            
        {% endfor %}
    {% endfor %}

    {% if breadcrumb %}
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
      &nbsp;<span class="icon-right-arrow"></span>
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
        {% else %}
          <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>     
        {% endif %}
      </span>
      &nbsp;<span class="icon-right-arrow"></span>
      {{ product.title }}
    {% endif %}
</div>
