<canvas id="canvas" width="742px" height="700px"></canvas>
<ol class="flex-control-nav flex-control-thumbs">    
    {% if template == settings.custom_product_template %}
        {% for image in product.images %}
        <li style="display: none;">            
            <img src="{{ image | product_img_url: 'master' }}" class="flex-active" draggable="false">
        </li>    
        {% endfor %}    
    {% else %}
        {% for image in product.images %}
        <li style="display:inline-block;">
            <img src="{{ image | product_img_url: '742x700' }}" class="flex-active" draggable="false" {% if forloop.first == true %}data-step="{{ settings.front }}"{% else %}data-step="{{ settings.back }}"{% endif %}>
        </li>    
        {% endfor %}    
    {% endif %}
</ol>