var current = '{{ settings.front }}',
    next = ($('.tab-front-back div').length < 8) ? '{{ settings.back }}' : '{{ settings.sleeve }}',
    front,
    back,
    removePattern = false;
    
//show appropriate filters
function showFrontFilters() {
    $('#{{ settings.pattern_quality_icon_src_id }}-{{ settings.front }}, #{{ settings.pattern_quality_text_id }}-{{ settings.front }}, .{{ settings.filter_class }}-{{ settings.front }}').show();    
       $('#{{ settings.pattern_quality_icon_src_id }}-{{ settings.back }}, #{{ settings.pattern_quality_text_id }}-{{ settings.back }}, .{{ settings.filter_class }}-{{ settings.back }}').hide();    
}

function showBackFilters() {
   $('.{{ settings.filter_class }}-{{ settings.back }}').attr('data-pattern', '1');
    
    $('#{{ settings.pattern_quality_icon_src_id }}-{{ settings.front }}, #{{ settings.pattern_quality_text_id }}-{{ settings.front }}, .{{ settings.filter_class }}-{{ settings.front }}').hide();    
    $('#{{ settings.pattern_quality_icon_src_id }}-{{ settings.back }}, #{{ settings.pattern_quality_text_id }}-{{ settings.back }}, .{{ settings.filter_class }}-{{ settings.back }}').show();
}

function applyBackPattern(){
    //load pattern image
    fabric.Image.fromURL($('.{{ settings.pattern_class }} li.{{ settings.sleeve }}').find("img").data("src"), function (patternImg) {
        //load mask image
        fabric.Image.fromURL($('.flex-control-nav li:nth-child(3)').find('img').attr('src'), function (maskImg) {
            applyMask(patternImg, maskImg); //create image mask
        }, {crossOrigin: 'anonymous'});
    }, {crossOrigin: 'anonymous'});
	canvas.renderAll();
}

function switchFilter() { 
    $('.flex-control-nav li:first-child, .flex-control-nav li:last-child').hide();
    $.blockUI();
    $('.products-details-right').show();
    $('.product-form').hide();
    $('#product-detail').addClass('sixteen').addClass('alpha').removeClass('eight').removeClass('product-detail-box-right');
    $('.{{ settings.pattern_class }} li, .{{ settings.filter_class }} li').removeClass('active');
    $('.{{ settings.pattern_class }} li.'+current+', .{{ settings.filter_class }} li.'+current).addClass('active');
    //if sleeve
    if(current == '{{ settings.sleeve }}') {    
        $.unblockUI();
        disableCanvas();
        //show only patterns
        $('.{{ settings.nav_toolbar }}, .{{ settings.filter_class }}').hide();
        $('#'+$('.{{ settings.nav_toolbar }}:first-child').next().attr('for')).addClass('current').addClass('sleeve-height').show().siblings().hide();  
        //toggle repeat icons
        $('.{{ settings.obj_repeat_class }}, .{{ settings.obj_repeat_class }}-link, #{{ settings.scale_pattern }}').hide();
        return false;
    }
    $('#{{ settings.effect_toolbar_id }}').removeClass('sleeve-height'); 
    //show filters
    $('.{{ settings.nav_toolbar }}, .{{ settings.filter_class }}, #{{ settings.scale_pattern }}').show(); 
    
    //filters
    (current == '{{ settings.front }}' || $('.{{ settings.filter_class }}-{{ settings.back }}').attr('data-pattern') == '0' || $('.{{ settings.obj_repeat_class }}').hasClass('active')) ? showFrontFilters() : showBackFilters();
    //toggle repeat icons
    (current == '{{ settings.front }}') ? $('.{{ settings.obj_repeat_class }}, .{{ settings.obj_repeat_class }}-link').show() : $('.{{ settings.obj_repeat_class }}, .{{ settings.obj_repeat_class }}-link').hide();
    
    if($('.{{ settings.pattern_class }} li').hasClass('{{ settings.sleeve }}') && current == '{{ settings.back }}') {
        applyBackPattern();
    }
    $.unblockUI();
    //initialize type toolbar
    $('#{{ settings.text_area_id }}').css('text-align', 'center').val("");  //clear textarea
    $('#{{ settings.scale_pattern }}').val(parseInt({{ settings.scale_pattern_default }}));
    
    //initialize toolbar
    var active =  $('.products-detai-top-nav').find('.'+current+'-last-active');
    active.addClass('active').addClass('current').siblings().removeClass('active').removeClass('current');
    var id =  active.attr('for');
    activeTab(id);
}

//active a perticular tab e.g. image, effect, text
function activeTab(id) {    
    $.blockUI();
    
    $('.{{ settings.tab_view_class }}').hide();    
    $('#'+id).show();
    
    if(id == '{{ settings.image_toolbar_id }}' || id == '{{ settings.effect_toolbar_id }}')    {
        selectObject('{{ settings.canvas_pattern_id }}');
    } else {
        $('.{{ settings.font_slider_class }}').slick('setPosition');//fixed slider width 0px issue
        selectObject('{{ settings.canvas_text_id }}');
    } 
    if(current == '{{ settings.front }}' || current == '{{ settings.back }}') { 
        var obj = canvas.getActiveObject();
        if(id == '{{ settings.effect_toolbar_id }}') {
            var text_obj = getObject('{{ settings.canvas_text_id }}');
            if(text_obj) {
                canvas.sendToBack(text_obj);
            }
            canvas.sendToBack(obj);
        } 
        if(obj && obj.get('id') == '{{ settings.canvas_pattern_id }}' && id == '{{ settings.image_toolbar_id }}') {
            var text_obj = getObject('{{ settings.canvas_text_id }}');
            if(text_obj) {
                canvas.sendToBack(text_obj);
            }
            obj.selectable = true;
            canvas.bringToFront(obj);
        }
        if(id == '{{ settings.type_toolbar_id }}') {
            var p_obj = getObject('{{ settings.canvas_pattern_id }}');
            var dp_obj = getObject('default-{{ settings.canvas_pattern_id }}'); 
            if(p_obj) {
                canvas.sendToBack(p_obj);
            }
            if(dp_obj) {
                canvas.sendToBack(dp_obj);
            }
            if(obj) {                
                obj.selectable = true;
                canvas.bringToFront(obj);
            }
        }
    }
    canvas.renderAll();
    $.unblockUI();
}

//handle step navigation
function goToStep(step) {

    if(current == step || !$('.{{ settings.nav_toolbar }}.active').hasClass('current')) { return false; }
    
    $('#' + step).addClass('active').siblings().removeClass('active');
    
    if(current != '{{ settings.order }}') {
        canvasPreview();//display preview
    }
    
    $('.{{ settings.nav_toolbar }}.active').addClass(current+'-last-active').siblings().removeClass(current+'-last-active');
    
    if(step == '{{ settings.front }}') {
        if(current == '{{ settings.back }}' || current == '{{ settings.order }}') {
            if(current == '{{ settings.back }}') {
                back = stringifyCanvas();
            }
            canvas.clear();
            try {
                canvas.loadFromJSON(JSON.parse(front));
            } catch (e) {
                console.log(e);
            }
        }
        current = '{{ settings.front }}';
        next = '{{ settings.sleeve }}';
        
    } else if(step == '{{ settings.sleeve }}') {
        if(current == '{{ settings.back }}' || current == '{{ settings.order }}') {
            if(current == '{{ settings.back }}') {
                back = stringifyCanvas();
            }
            canvas.clear();
            try {
                canvas.loadFromJSON(JSON.parse(front));
            } catch (e) {
                console.log(e);
            }
        }
        canvas.deactivateAll().renderAll();
        current = '{{ settings.sleeve }}';
        next = '{{ settings.back }}';
        
    } else if(step == '{{ settings.back }}'){ 
        if(current == '{{ settings.front }}' || current == '{{ settings.sleeve }}') {
            front = stringifyCanvas();
        }
        setOverlay($('.flex-control-nav li:last').find('img').attr('src')); //set only first time
        canvas.clear();
        //remove back pattern
        if(removePattern) {
            var serialized = JSON.parse(back);
            for (var i = 0, len = serialized.objects.length; i < len; i++) {
              if (serialized.objects[i] && serialized.objects[i].id === 'default-{{ settings.canvas_pattern_id }}' || serialized.objects[i] && serialized.objects[i].id === '{{ settings.canvas_pattern_id }}') {                  
                serialized.objects.splice(i,1);
              }
            }
            back = JSON.stringify(serialized);
            $('#{{ settings.back }}-pattern-img').val('');
            removePattern = false;
        }
        
        try {
            canvas.loadFromJSON(JSON.parse(back));
        } catch (e) {
            console.log(e);
        }
        current = '{{ settings.back }}';
        next = '{{ settings.order }}';
    } else {        
        if(current == '{{ settings.back }}') {
            back = stringifyCanvas();
            canvas.clear();
            try {                
                canvas.loadFromJSON(JSON.parse(front));
            } catch (e) {
                console.log(e);
            }
        } else {
            front = stringifyCanvas();
        }
        disableCanvas();
        current = '{{ settings.order }}';
        next = '{{ settings.order }}';
        $('.products-details-right, .product-form').toggle();
        $('#product-detail').addClass('eight').addClass('product-detail-box-right').removeClass('sixteen').removeClass('alpha');
        $('.flex-control-nav li:first-child, .flex-control-nav li:last-child').show();
    }
    canvas.renderAll().calcOffset(); 
    (current != '{{ settings.order }}') ? setTimeout(function () {
        switchFilter();
    }, 1000) : true;
};

$('.{{ settings.nav_toolbar }}').click(function(e){
    //if no pattern uploaded
    if($('.{{ settings.nav_toolbar }}.active').is("li:first-child") && !$('#{{ settings.image_toolbar_id }}').hasClass('current')) {
        return false;
    }
    
    var id = $(this).attr('for');
    $(this).addClass('active').addClass('current').siblings().removeClass('active').removeClass('current');
    
    activeTab(id);
});

$('.done-button').click(function(e){
    var active, id;
    //if no pattern uploaded
    if($('.{{ settings.nav_toolbar }}.active').is("li:first-child") && !$('#{{ settings.image_toolbar_id }}').hasClass('current')) {
        return false;
    }
    
    if(current == '{{ settings.sleeve }}' || $('.{{ settings.nav_toolbar }}.active').is("li:last-child")) {  
        goToStep(next); 
        return false;
    }
    
    active =  $('.{{ settings.nav_toolbar }}.active');
    id = active.next().attr('for');
    active.next().addClass('active').addClass('current').siblings().removeClass('active').removeClass('current');
    
    activeTab(id);
});

//initialize dropzone
var target = document.getElementById('{{ settings.dropzone }}');
target.addEventListener("dragover", function(e){e.preventDefault();}, true);
target.addEventListener("drop", function(e){
    e.preventDefault(); 
    applyPattern(e.dataTransfer.files[0]);
}, true);

//click on browse
$('.browse-button-text').click(function(e) {
    $('#{{ settings.browse_pattern }}').trigger('click');
});

$('#{{ settings.browse_pattern }}').change(function(e) {
    applyPattern(e.target.files[0]);
});

//repeat to back
$('.{{ settings.obj_repeat_class }}, .{{ settings.obj_repeat_class }}-link').click(function(e) { 
    
    if($(this).hasClass('active') && typeof back != 'undefined') {
        removePattern = true;
    } else {
        removePattern = false;
    }
    $(this).toggleClass('active');
    $('.repeat-icon-img').toggle();
});

//apply image filter
$('.{{ settings.filter_class }} li').click(function (e) {
    $.blockUI();
    removeObject('default-{{ settings.canvas_pattern_id }}');
    var filterSelected = $(this).data('filter');
    if(!getObject('{{ settings.canvas_pattern_id }}') && $('.{{ settings.filter_class }}-{{ settings.back }}').attr('data-pattern') == '0') { 
        $.unblockUI();
        applyPattern($('#{{ settings.browse_pattern }}')[0].files[0], false);
    }
    obj = getObject('{{ settings.canvas_pattern_id }}'); //get active object
    m_obj = getObject('{{ settings.canvas_mask_id }}');
    if(!obj.visible)
        toggleVisibility('{{ settings.canvas_pattern_id }}');
    obj.filters.length = 0; //remove other filters
    $('.{{ settings.pattern_class }} li').removeClass('active').removeClass(current);
    $(this).addClass('active').addClass(current).siblings().removeClass('active').removeClass(current);
    
    obj.filters[filterSelected] = imgFilters[filterSelected];
    obj.applyFilters(function (e) {
        if(m_obj) {
            canvas.bringToFront(m_obj);
        }
        canvas.sendToBack(obj).renderAll(); 
    });
    $.unblockUI();
});

//apply image pattern
$('.{{ settings.pattern_class }} li').click(function (e) {
    $.blockUI();
    var patternSelected = $(this).data('pattern');
    $('.{{ settings.filter_class }} li').removeClass('active').removeClass(current);
    $(this).addClass('active').addClass(current).siblings().removeClass('active').removeClass(current); 
    
    //change sleeve
    if(current == '{{ settings.sleeve }}') {
        //load pattern image
        fabric.Image.fromURL($(this).find("img").data("src"), function (patternImg) {
            $('#sleeve-img').val(patternImg._element.src);
            //load mask image
            fabric.Image.fromURL($('.flex-control-nav li:nth-child(2)').find('img').attr('src'), function (maskImg) {
                applyMask(patternImg, maskImg); //create image mask
                $.unblockUI();
            }, {crossOrigin: 'anonymous'});
        }, {crossOrigin: 'anonymous'});
        return false;
    }    
    
    dp_obj = getObject('default-{{ settings.canvas_pattern_id }}');
    if(dp_obj) {
        removeObject('default-{{ settings.canvas_pattern_id }}');
    } else {
        toggleVisibility('{{ settings.canvas_pattern_id }}');
    }
    
    fabric.Image.fromURL($(this).find("img").data("src"), function (pattern) {
        $('#'+current+'-pattern-img').val(pattern._element.src);
        pattern.id = 'default-{{ settings.canvas_pattern_id }}';
        pattern.selectable = false;
        canvas.centerObject(pattern).add(pattern).sendToBack(pattern).renderAll();    
        $.unblockUI();
    }, { crossOrigin: 'anonymous' });
});

//change text font
$('.{{ settings.font_slider_class }} div').click(function (e) {
    var obj = getObject('{{ settings.canvas_text_id }}');
    var p_obj = getObject('{{ settings.canvas_pattern_id }}');
    var dp_obj = getObject('default-{{ settings.canvas_pattern_id }}');
    if (!obj)
        return;
    $(this).addClass('active').siblings().removeClass('active');
    obj.set('fontFamily', $(this).attr('id'));
    if(dp_obj) {
        canvas.sendToBack(dp_obj);
    } else {
        canvas.sendToBack(p_obj);
    }
    obj.selectable = true;
    canvas.setActiveObject(obj).bringToFront(obj).renderAll(); 
});

//scale pattern
$('#{{ settings.scale_pattern }}').change(function(e) {
    var scale = $(this).val();
    canvas.forEachObject(function (obj) {
        if (obj.get('id') === '{{ settings.canvas_pattern_id }}' && obj.get('visible')) {
            obj.scale(parseFloat(scale)).center().setCoords();
        }
        if (obj.get('id') === 'default-{{ settings.canvas_pattern_id }}' && obj.get('visible')) {
            obj.scale(parseFloat(scale)).center().setCoords();
        }
    });
});

$('.flex-active').click(function(e) {
    $.blockUI();
    canvas.clear();
    canvas.setBackgroundColor('{{ settings.canvas_background_color }}');
    fabric.Image.fromURL($(this).attr("src"), function (preview) {
        preview.selectable = false;
        canvas.centerObject(preview).add(preview).renderAll();
    }, { crossOrigin: 'anonymous' });
    $.unblockUI();
});