var MIN_WIDTH = {{ settings.pattern_img_min_width }};
var MIN_HEIGHT = {{ settings.pattern_img_min_height }};

$(document).ready(function(){
    $.blockUI();
})

var imgFilters = [
    new fabric.Image.filters.Grayscale(), //0 grayscale
    new fabric.Image.filters.Contrast({
      contrast: 100
    }), //1 contrast
    new fabric.Image.filters.Convolute({
        matrix: [0, -1, 0,
            -1, 5, -1,
            0, -1, 0]
    }), //3 sharpan
];

//main canvas
var canvas = new fabric.Canvas('canvas', {
    preserveObjectStacking: true,
    controlsAboveOverlay: true,
    selectionCompatibility: true,
    stateful: true,
    selection: false,
    renderOnAddRemove: false, //true
    backgroundColor: '{{ settings.canvas_background_color }}'
});

//what happens when user selects an object
canvas.on({
    'canvas:cleared': function (e) {
        canvas.setBackgroundColor('{{ settings.canvas_background_color }}');
    },
    'object:added': function (e) {
        e.target.hasControls = e.target.hasBorders = false;
    },
    'object:moving': function (e) {
        e.target.opacity = 0.5;
    },
    'object:modified': onObjectModified,
    'object:selected': onObjectSelected
});

//on object selection
function onObjectSelected(e) {
    var selectedObject = e.target;
    selectedObject.hasRotatingPoint = true;
    if(selectedObject.get('id') === '{{ settings.canvas_pattern_id }}' || selectedObject.get('id') === 'default-{{ settings.canvas_pattern_id }}'){
        $('#{{ settings.scale_pattern }}').val(parseFloat(selectedObject.scaleX));
    }
    if (selectedObject.get('id') === '{{ settings.canvas_text_id }}') {
        fabric.util.clearFabricFontCache(selectedObject.fontFamily);
        //clear font cache to avoid iText cursor placement issue
        $('#{{ settings.text_area_id }}').val(selectedObject.getText()).css('text-align', selectedObject.getTextAlign());
        $('#{{ settings.font_size_slider_id }}').val(selectedObject.getFontSize());
        $("#"+selectedObject.getTextAlign()).addClass('active').siblings().removeClass('active');
        $("#"+selectedObject.getFontFamily()).addClass('active').siblings().removeClass('active');
        $("#"+rgbToHex(selectedObject.getFill())).addClass('active').siblings().removeClass('active');
    }
}

//on object selection clear
function onObjectModified(e) {
    e.target.opacity = 1; 
    canvas.renderAll();
}

//stringify canvas
function stringifyCanvas() {
    return JSON.stringify(canvas.toJSON(['objectCaching', 'id', 'selectable', 'crossOrigin', 'editable']));
}

//get active object
function getActiveObject() {
    return canvas.getActiveObject();
}

//remove object
function getObject(id) {
    var object = false;
    canvas.forEachObject(function (obj) {
        if (obj.get('id') === id) {
            object = obj;
            return false; //break
        } else {
            obj.selectable = false;
            canvas.sendBackwards(obj);
        }
    });
    return object;
}

//toggle object's visibility
function toggleVisibility(id) {
    canvas.forEachObject(function (obj) {
        if (obj.get('id') === id) {
            obj.toggle('visible');//obj.visible = !obj.get('visible');
            obj.toggle('selectable');//obj.visible = !obj.get('visible');
            return false;
        }
    });
}

//select object
function selectObject(id) {
    var obj = getObject(id);    
    if((id == '{{ settings.canvas_pattern_id }}' && !obj) || (obj && obj.get('id') == '{{ settings.canvas_pattern_id }}' && obj.get('visible') == false)) {
        obj = getObject('default-{{ settings.canvas_pattern_id }}');
    }
    if(obj) {
        obj.selectable = true;
        canvas.setActiveObject(obj).renderAll();
        canvas.getActiveObject().set('selectable', true);
        return true;
    } 
    return false;
}

//remove object
function removeObject(id) {
    canvas.forEachObject(function (obj) {
        if (obj && obj.get('id') === id) {
            obj.remove();
            return false;
        }
    });
}

//rbg to hex
function rgbToHex(rgb) {
    return new fabric.Color(rgb).toHex();
}

//disable canvas
function disableCanvas() {
    canvas.selection = false;
    canvas.forEachObject(function(o) {
        o.hasBorders = o.hasControls = o.selectable = false;
    });
}

//set overlay image
function setOverlay(img) {
    fabric.Image.fromURL(img, function (overlayImg) {
        overlayImg.set({
            id: '{{ settings.canvas_overlay_id }}',
            scaleY: canvas.height / overlayImg.height,
            scaleX: canvas.width / overlayImg.width,
            crossOrigin: 'anonymous'
        });
        $.unblockUI();
        canvas.setOverlayImage(overlayImg, canvas.renderAll.bind(canvas));
    });
}

//apply pattern
function applyPattern(file, checkQuality = true) {
    if(!$('.product_section').hasClass('pointer-cursor')){
        $('.product_section').addClass('pointer-cursor');
    }
    var file = file;
    var reader = new FileReader();
    reader.onload = function (f) {
        removeObject('{{ settings.canvas_pattern_id }}');
        var data = f.target.result;
        fabric.Image.fromURL(data, function (pattern) {
            pattern.id = '{{ settings.canvas_pattern_id }}';
            canvas.centerObject(pattern).add(pattern).setActiveObject(pattern).renderAll();
            //check image quality
            if(checkQuality) {
                if(pattern.width >= {{ settings.pattern_img_min_width }} && pattern.height >= {{ settings.pattern_img_min_height }} ) {
                    $('#{{ settings.pattern_quality_icon_src_id }}-'+current).attr('src', '{{ settings.pattern_good_quality_icon | asset_url }}').show();
                        $('#{{ settings.pattern_quality_text_id }}-'+current).text('{{ settings.pattern_good_quality_text }}').show();
                } else {
                    $('#{{ settings.pattern_quality_icon_src_id }}-'+current).attr('src', '{{ settings.protocol }}{{ settings.pattern_poor_quality_icon | asset_url }}').show();
                    $('#{{ settings.pattern_quality_text_id }}-'+current).text('{{ settings.pattern_poor_quality_text }}').show();
                }
                $('#{{ settings.dropzone }}').hide();
                $('.{{ settings.nav_toolbar }}.active').addClass('current').siblings().removeClass('current');
                $('.{{ settings.filter_class }}-'+current).show().find('img').attr('src', data);
            }
            $('#'+current+'-pattern-img').val(data);
        }, { crossOrigin: 'anonymous' });
    };
    reader.readAsDataURL(file);
    $('#{{ settings.image_toolbar_id }}').addClass('current');
    (current == '{{ settings.back }}' && checkQuality) ? showBackFilters() : showFrontFilters(); 
}

//apply image mask for sleeve
function applyMask(patternImg, maskImg) {
    removeObject('{{ settings.canvas_mask_id }}');
    patternImg.filters.push(
        new fabric.Image.filters.Mask({'mask': maskImg, 'id': '{{ settings.canvas_sleeve_id }}'})
    );
    patternImg.applyFilters(function (img) {
        img.id = '{{ settings.canvas_mask_id }}';
        img.selectable = false;
        canvas.centerObject(img).add(img).renderAll();
        img.setCoords();
    });
}

//set text properties
function setTextProperties(text) {
    text.objectCaching = false;
    //for text
    text.set({
        fontFamily: (typeof $('.{{ settings.font_slider_class }} div.active').attr('id') == 'undefined' ? '{{ settings.default_font }}' : $('.{{ settings.font_slider_class }} div.active').attr('id')),
        textAlign: $('#{{ settings.text_align_id }} li.active').attr('id'),
        fontSize: parseInt({{ settings.default_font_size }}),
        fill: '#{{ settings.default_font_color }}'
    });
}

//display preview
function canvasPreview(e) { 
    $.blockUI();
    canvas.forEachObject(function (obj) {
        if (obj.get('id') === '{{ settings.canvas_pattern_id }}' || obj.get('id') === 'default-{{ settings.canvas_pattern_id }}') {
            obj.sendToBack();
        }
        if (obj.get('id') === '{{ settings.canvas_text_id }}') {
            obj.bringToFront();
        }
        if (obj.get('id') === '{{ settings.canvas_mask_id }}') {
            obj.selectable = false;
            obj.bringToFront();
        }
    });
    var img = canvas.toDataURL({format:'jpeg'});
    if(current == '{{ settings.back }}') {
        $('.flex-control-nav li:last-child').find('img').attr('src', img);
        $('#back-image').val(img);
    } else {
        if(current == '{{ settings.front }}' && $('.{{ settings.obj_repeat_class }}').hasClass('active')) {
            $('.{{ settings.pattern_class }} li, .{{ settings.filter_class }} li').removeClass('{{ settings.back }}');
    $('.{{ settings.pattern_class }} li.'+current+', .{{ settings.filter_class }} li.'+current).addClass('{{ settings.back }}');
        
            selectObject('{{ settings.canvas_pattern_id }}');
            repeat = getActiveObject().toJSON(['objectCaching', 'id', 'selectable', 'crossOrigin', 'editable']);
            
            var i = 0;
            if(typeof back != "undefined") {
                var serialized = JSON.parse(back);
                var pattern_found = false;
                for (i, len = serialized.objects.length; i < len; i++) {
                  if (serialized.objects[i] && serialized.objects[i].id === 'default-{{ settings.canvas_pattern_id }}') {                  
                    serialized.objects.splice(i,1);
                  }
                  if (serialized.objects[i] && serialized.objects[i].id === '{{ settings.canvas_pattern_id }}') {
                    serialized.objects[i] = repeat;
                    serialized.objects[i].selectable = true;
                    pattern_found = true;
                  } 
                }
                
                if(!pattern_found)
                    serialized.objects.push(repeat);
                back = JSON.stringify(serialized);
            } else {
                back_temp = canvas.toJSON(['objectCaching', 'id', 'selectable', 'crossOrigin']);    
                delete back_temp.overlayImage;  
                for (i, len = back_temp.objects.length; i < len; i++) {
                    if (back_temp.objects[i] && back_temp.objects[i].id === '{{ settings.canvas_text_id }}')   {                  
                        back_temp.objects.splice(i,1);
                    }
                }
                back = JSON.stringify(back_temp);
            }
            $('#{{ settings.back }}-pattern-img').val(repeat.src);
        } 
        $('.flex-control-nav li:first-child').find('img').attr('src', img);
        $('#front-image').val(img);
    } 
    $.unblockUI();
}

//rotate object
$('.{{ settings.obj_rotate_class }}').click(function(e) {
    var active = $('.{{ settings.nav_toolbar }}.active').attr('for');
    if(active == '{{ settings.image_toolbar_id }}' || active == '{{ settings.effect_toolbar_id }}') {
        selectObject('{{ settings.canvas_pattern_id }}');
    } else {
        selectObject('{{ settings.canvas_text_id }}');
    }
    
    var obj = getActiveObject();
    if(obj.get('id') == '{{ settings.canvas_text_id }}') {        
        var p_obj = getObject('{{ settings.canvas_pattern_id }}');
        var dp_obj = getObject('default-{{ settings.canvas_pattern_id }}');
        if(dp_obj) {
        canvas.sendToBack(dp_obj);
        } else {
            canvas.sendToBack(p_obj);
        }
    }
    if(obj) {        
        obj.selectable = true;
        obj.setAngle(obj.getAngle() + {{ settings.rotate_degrees }});
        canvas.setActiveObject(obj).bringToFront(obj).renderAll();
    }
});

//center align object
$('.{{ settings.obj_center_class }}').click(function(e) {
    var active = $('.{{ settings.nav_toolbar }}.active').attr('for');
    if(active == '{{ settings.image_toolbar_id }}' || active == '{{ settings.effect_toolbar_id }}') {
        selectObject('{{ settings.canvas_pattern_id }}');
    } else {
        selectObject('{{ settings.canvas_text_id }}');
    }
    
    var obj = getActiveObject();
    if(obj.get('id') == '{{ settings.canvas_text_id }}') {        
        var p_obj = getObject('{{ settings.canvas_pattern_id }}');
        var dp_obj = getObject('default-{{ settings.canvas_pattern_id }}');
        if(dp_obj) {
        canvas.sendToBack(dp_obj);
        } else {
            canvas.sendToBack(p_obj);
        }
    }
    if(obj) {        
        obj.selectable = true;
        canvas.setActiveObject(obj).centerObject(obj).bringToFront(obj).renderAll();
        obj.setCoords();
    }
});

//add text
$('#{{ settings.text_area_id }}').keyup(function (e) {
    var text = $(this).val();
    var p_obj = getObject('{{ settings.canvas_pattern_id }}');
    var dp_obj = getObject('default-{{ settings.canvas_pattern_id }}');
    var obj = getObject('{{ settings.canvas_text_id }}');
    if (!obj) {
        var obj = new fabric.IText(text, {
            id: '{{ settings.canvas_text_id }}',
            editable: false,
            cursorWidth: 0
        });
        setTextProperties(obj);
        canvas.centerObject(obj);
        obj.setTop(canvas.height / 5);
        canvas.add(obj);
    } else {
        obj.setText(text);
    }
    if(dp_obj) {
        canvas.sendToBack(dp_obj);
    } else {
        canvas.sendToBack(p_obj);
    }
    obj.selectable = true;
    canvas.setActiveObject(obj).renderAll(); 
});

//change text font size properties
$('#{{ settings.font_size_slider_id }}').change(function(e) {
    var p_obj = getObject('{{ settings.canvas_pattern_id }}');
    var dp_obj = getObject('default-{{ settings.canvas_pattern_id }}');
    var obj = getObject('{{ settings.canvas_text_id }}');
    if (!obj) {
        return;
    }
    if(dp_obj) {
        canvas.sendToBack(dp_obj);
    } else {
        canvas.sendToBack(p_obj);
    }
    obj.selectable = true;        
    obj.set('fontSize', parseInt($(this).val()));
    canvas.setActiveObject(obj).renderAll(); 
});

//change text alignment
$('#{{ settings.text_align_id }} li').click(function (e) {
    var p_obj = getObject('{{ settings.canvas_pattern_id }}');
    var dp_obj = getObject('default-{{ settings.canvas_pattern_id }}');
    var obj = getObject('{{ settings.canvas_text_id }}');
    var align = $(this).attr('id');
    if (!obj)
        return;
    $(this).addClass('active').siblings().removeClass('active');
    $('#{{ settings.text_area_id }}').css('text-align', align);
    if(dp_obj) {
        canvas.sendToBack(dp_obj);
    } else {
        canvas.sendToBack(p_obj);
    } 
    obj.set('textAlign', $(this).attr('id'));
    if(align == 'left') {
        obj.setLeft(parseInt(canvas.width/2 - 100));
    } else if(align == 'right') {
        obj.setLeft(parseInt(canvas.width/2 + 100));
    } else {
        obj.setLeft(canvas.width/2);
    }
    obj.selectable = true; 
    canvas.setActiveObject(obj).renderAll(); 
    obj.setCoords();
});

//change text fill
$('.product-custom .{{ settings.font_color_class }} li, .product-personalized .{{ settings.font_color_class }} li').click(function (e) {
    if($(this).hasClass('color-picker')) {
        $(this).siblings().removeClass('active');
        return true;
    } else {
        var p_obj = getObject('{{ settings.canvas_pattern_id }}');
        var dp_obj = getObject('default-{{ settings.canvas_pattern_id }}');
        var obj = getObject('{{ settings.canvas_text_id }}');
        if (!obj)
            return;
        $(this).addClass('active').siblings().removeClass('active');
        obj.set('fill', "#"+$(this).attr('id'));
        obj.selectable = true; 
        canvas.setActiveObject(obj).renderAll(); 
    }
});

//more color picker
$('.product-custom .{{ settings.font_color_class }} li img, .product-personalized .{{ settings.font_color_class }} li img').click(function (e) {
    $(this).parents('li').trigger('click');
});

$('.product-custom .color-picker a, .product-personalized .color-picker a').spectrum({
    color: "#0027ff",
    clickoutFiresChange: false,
    showButtons: false,
    move: function(color) {
        $(".product-custom .custom-color, .product-personalized .custom-color").attr('id', color.toHexString().replace('#', '')).trigger('click');
    }
});

$('.product-custom .color-picker a, .product-personalized .color-picker a').on("dragstop.spectrum", function(e, color) {
    $('.product-personalized .color-picker a').spectrum("hide");
});

$(".plus").click(function(e){
    var hidden = $('.select').find('.add-more-box:hidden').first();
    hidden.show();
    if($(".add-more-box:visible").length == length) {
        $(this).hide().next('.minus').show();
        hidden.find('.plus').hide();
        hidden.find('.minus').show();
    }
    
});

$(".minus").click(function(e){
    var cur = $(this).closest('.add-more-box');
    cur.find('.variant-quantity').val(0);
    cur.hide();
    var first = $('.select').find('.add-more-box:visible').first();
    first.find('.plus').show();
    first.find('.minus').hide();
});