/*

FONTS

*/

@font-face {
    
  font-family : 'jaapokki-regular';
  
  src : url('https://cdn.shopify.com/s/files/1/1203/0232/files/jaapokki-regular.eot?3464373184666689533');
  
  src : url('https://cdn.shopify.com/s/files/1/1203/0232/files/jaapokki-regular.eot?3464373184666689533?#iefix') format('embedded-opentype'),
         url('https://cdn.shopify.com/s/files/1/1203/0232/files/jaapokki-regular.woff?3464373184666689533') format('woff'),
         url('https://cdn.shopify.com/s/files/1/1203/0232/files/jaapokki-regular.ttf?3464373184666689533') format('truetype'),
         url('https://cdn.shopify.com/s/files/1/1203/0232/files/jaapokki-regular.svg?3464373184666689533') format('svg');
    
  font-weight : normal;
    
  font-style : normal;    

}

@font-face {
    
  font-family : 'boxedmedium';
  
  src : url('https://cdn.shopify.com/s/files/1/1203/0232/files/tipo_pepel_-_boxedmedium-webfont.eot?17397777637756140031');
  
  src : url('https://cdn.shopify.com/s/files/1/1203/0232/files/tipo_pepel_-_boxedmedium-webfont.eot?17397777637756140031?#iefix') 
  format('embedded-opentype'),
         url('https://cdn.shopify.com/s/files/1/1203/0232/files/tipo_pepel_-_boxedmedium-webfont.woff2?17397777637756140031') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/1203/0232/files/tipo_pepel_-_boxedmedium-webfont.woff?17397777637756140031') format('woff'),
         url('https://cdn.shopify.com/s/files/1/1203/0232/files/tipo_pepel_-_boxedmedium-webfont.ttf?17397777637756140031') format('truetype'),
         url('https://cdn.shopify.com/s/files/1/1203/0232/files/tipo_pepel_-_boxedmedium-webfont.svg?17397777637756140031') format('svg');
    
  font-weight : normal;
    
  font-style : normal;    

}






/*

GLOBAL

*/

h1, h2, h3, h4, h5, h6 {
  
  font-weight : normal;
  
}

/* remove text shadows */

.feature_image .header .nav a.cart-button span,
.feature_image .header select.currencies,
.feature_image .header .nav a.icon-cart,
.feature_image .header .nav a {
  
  text-shadow : none;
  
}

/*

HEADER

*/

.nav a.cart-button span,
a.icon-search,
a.icon-cart,
.nav a {
  
  letter-spacing : 0 !important;
  
  font-size : 14px !important;
    
}






/*

FOOTER

*/

ul.footer_menu a,
.footer h6 {
  
  -webkit-font-smoothing : antialiased;
  
  text-rendering : optimizeLegibility;
  
  font-family : 'boxedmedium';
  
  font-weight : normal;
    
  letter-spacing : 0;
  
  font-size : 14px;
  
}

.footer p a,
.footer p {
  
  font-size : 12px;
  
}






/*

INDEX

*/

h1, h2, h3, h4, h5, h6 {
  
  font-family : 'boxedmedium';
  
}

.index h4.title {

  text-align : center;

}

/* featured links */

#featured_links h2 {

  font-size : 18px;

}

#featured_links h2,
#featured_links p {
  
  text-align : center;
  
}

#featured_links p {
  
  letter-spacing : 0 !important;
  
  text-shadow : none;
  
  font-size : 14px;
  
}

#featured_links .feature_divider {
  
  display : none;
  
}

/* banner images */

.slide .headline {
  
  font-family : "Lato" , sans-serif;
  
  letter-spacing : 0 !important;
  
  text-shadow : none;

  font-weight : 100;
  
  line-height : 1.2;
  
  font-size : 18px;

  
}

.slide p.subtitle {
  
  font-family : 'Jaapokki-Regular';
  
  letter-spacing : 0 !important;
  
  text-shadow : none;
  
  line-height : 1.2;
  
  font-size : 22px;
    
}

.hsContent.center div {
  
  background : rgba( 255 , 255 , 255 , .9 );
  
  margin : 30px auto;
  
  max-width : 690px;
  
  padding : 10px;
  
}

/* banner - slide 1 */

#slide-1 .hsContent {
  
  vertical-align : bottom;
  
}

#slide-1 .headline {
  
  font-family : 'Jaapokki-Regular';
  
  letter-spacing : 0 !important;
      
  text-shadow : none;
  
  font-size : 18px;
  
  margin : 0 auto;
  
  line-height : 2;
  
}

#slide-1 p.subtitle {
  
  letter-spacing : 0 !important;
      
  text-shadow : none;
  
  font-size : 14px;
    
}

#slide-1 .hsContent > div {
      
  margin : 30px auto;
  
  max-width : 490px;
  
  padding : 10px;
  
}

/* hide arrow */

a.scroll-arrow.animated.fadeInDown {
  
  display : none;
  
}

/* slide 3 */

#slide-3 .mt-download {
  
  background : rgba( 255 , 255 , 255 , .9 );
  
  margin : 30px auto !important;
  
  /*background : #dc5360;*/
    
  text-align : center;
  
  max-width : 450px;
  
  color : #ffffff;
  
  padding : 10px;
  
  font-size : 0;
  
}

#slide-3 .device {
  
  -moz-box-sizing : border-box;
  
  background : transparent;
  
  box-sizing : border-box;
  
  display : inline-block;
  
  text-align : left;
  
  padding : 0 20px;
  
  margin : 0 auto;
  
  width : 45%;
  
}

#slide-3 .device img {

  margin : 10px auto;
  
  max-width : 120px; text-align : center;
  
  display : block;
  
  width : 100%;
  
}

#slide-3 .device .subtitle {
  
  font-family : 'Jaapokki-Regular';

  letter-spacing : 0 !important;
  
  text-transform : none;
  
  text-align : center;
  
  text-shadow : none;

  font-size : 16px;
  
  line-height : 2;
  
  margin : 0 auto;
  
}

#slide-3 .device p {
  
  position : relative;
  
}

#slide-3 .device p .mt-arrow {
  
  position : absolute;
  
  margin : 5px 0;
  
  margin : auto;
  
  width : 16px;
  
  bottom : 0;
  
  right : 0;
  
  top : 0;
  
}

/**  10-05-2017 **/
#content_wrapper .thumbnail a{position: relative;margin-bottom: 0px;padding-bottom: 0;}
#content_wrapper .thumbnail, #content_wrapper .thumbnail img{margin-bottom: 0px;max-height: 580px;}
#content_wrapper .thumbnail{margin-bottom: 10px}
.shop-now-box{position: absolute;left: 50%;top: 45%;transform: translate(-50%, -45%);}
#content_wrapper .thumbnail a span.shop-now{width: 180px;background-color: #000000;font-size: 19px;line-height: 23px;color: #fff;padding: 11px 42px;margin-bottom: 18px;}
#content_wrapper .thumbnail a p.collection-title{color: #FFFFFF; font-size: 36px;  font-weight: 500; line-height: 43px;  text-align: center}
.sixteen.columns.shop-now-box-tab {margin-top: 30px;}
.shop-now-box-tab > ul > li {display: inline-block;list-style: none;}
.shop-now-box-tab > ul{text-align: center;}
.shop-now-box-tab > ul > li a{font-size: 15px;  font-weight: 500; line-height: 17px;color: #000;margin: 0 6px;border-bottom: 2px solid transparent;}
.shop-now-box-tab > ul > li a.active {border-bottom: 2px solid #000000;}
.shop-now-box-content > .info > h5{font-size: 22px; font-weight: 500; line-height: 27px;}
.shop-now-box-content > .info{margin-bottom: 10px;}
.shop-now-box-content > .info > .title{font-size: 16px; font-weight: 500; line-height: 19px;}
.shop-now-box-content > .customize-slider-container {margin: 0 -10px 30px;}
.customize-slider-container .slick-slide img{width: 100%;}
.customize-slider-container .custom{position: absolute;top: 280px;left: 0px;z-index: 1; background-color: rgba(255, 255, 255, 0.6);font-size: 16px; font-weight: 500; line-height: 19px;  text-align: center;padding: 10.5px 33.5px;}
.customize-slider-container .slick-prev{background: url(arrow_left.png) no-repeat;opacity: 0.8}
.customize-slider-container .slick-next{background: url(arrow_right.png) no-repeat;opacity: 0.8}
.customize-slider-container .slick-prev, .customize-slider-container .slick-next{height: 30px;top: 42%;-webkit-transform: translate(0, -42%);-ms-transform: translate(0, -42%);transform: translate(0, -50%);z-index: 1}
.customize-slider-container .slick-next:hover, .customize-slider-container .slick-next:focus{background: url(arrow_right.png) no-repeat !important ;opacity: 1;outline: none; box-shadow:0px 0px 0px #000;}
.slick-prev:hover, .customize-slider-container .slick-prev:focus{background: url(arrow_left.png) no-repeat !important ;opacity: 1;outline: none; box-shadow:0px 0px 0px #000;}
.customize-slider-container .slick-prev:before{content: initial;}
.customize-slider-container .slick-next:before{content: initial;}
.breadcrumb_text{font-size: 15px; font-weight: 500; line-height: 17px;margin-top: 20px;}
.canvas-container > canvas, .canvas-container{width: 100% !important}
.canvas-container > canvas{height: 550px !important}
div.share-button{float: left;}
.tab-front-back > div{background-color: #2A2A2A;color: #fff;text-align: center;padding: 6px 0;}
.tab-front-back > div.active{background-color: #DE505D}
.tab-front-back{margin-bottom: 50px}
.tab-front-back > div.triangle-right {position: relative;}
.tab-front-back > div.triangle-right:after {left: 100%; top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: transparent;border-left-color: #2a2a2a;border-width: 20px;margin-top: -20px;z-index: 11;}
.tab-front-back > div.triangle-left {position: relative;}
.tab-front-back > div.triangle-left:before {right: 85.6%; top: 50%; border: solid transparent;content: " ";height: 0; width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-left-color: #f2f2f2;border-width: 20px;margin-top: -20px;}
.tab-front-back > div.active.triangle-right:after {border-left-color: #de505d;}
.personalize{color: #FFFFFF; font-size: 18px;  font-weight: 500; text-align: center;  background-color: #84C3BE;}
.dropdown-wide {width: 200px;}
.nav ul.menu ul{width: 140px}
.button-personalize-add-to-cart{display: table;width: 100%;margin-bottom: 30px;}
.button-personalize-add-to-cart > button{width: calc(50% - 5px);;float: left;}
.button-personalize-add-to-cart button:first-child{margin-right: 5px}
.button-personalize-add-to-cart button:last-child{margin-left: 5px}
.product-personalize-desc p:last-child{float: left;}
.product-personalize-desc a.size_chart{float: left;padding-top: 0;}
.product-personalize-desc div.meta{width: 100%;display: table;}
.product-personalize-desc div.meta div.share-button{margin-left: 0px }
.products.related-products .thumbnail.odd{margin-left: 0px}
.products.related-products .thumbnail{max-height: 100% !important;}
#content_wrapper .sixteen.columns.thumbnail{height: initial;}
#content_wrapper .sixteen.columns.thumbnail img{height: initial;max-height: 448px}
#content_wrapper .sixteen.columns .eight.columns.alpha.thumbnail{margin-right: 0px}
#content_wrapper .sixteen.columns .eight.columns.alpha.thumbnail:first-child{padding-right: 20px}
#content_wrapper .customize-view-all-container .thumbnail{position: relative;padding-right: 0px !important;max-height: initial;margin-bottom: 30px}
#content_wrapper .customize-view-all-container .odd.thumbnail{margin-left: 20px}
#content_wrapper .customize-view-all-container .thumbnail .custom{position: absolute;top: 450px;left: 0px;z-index: 1;background-color: rgba(255, 255, 255, 0.6);font-size: 16px;font-weight: 500;line-height: 19px;text-align: center;padding: 10.5px 33.5px;}
.shop-now-box-content .description {max-width: 550px;color: #6F6E74;line-height: 24px;font-size: 16px;margin-bottom: 15px;}
.products-detai-toolbar ul{margin-left: 0px;margin-bottom: 0px;display: table;width: 100%;}
span.product-type {color: #6F6E74;font-size: 14px;font-weight: 300;line-height: 16px;}
.products-detai-toolbar ul.products-detai-top-nav li{list-style: none;width:calc(33.8993333% - 10px);text-align: center;margin-right: 10px;margin-bottom: 0px;border-bottom: 10px solid transparent;float: left;}
.products-detai-toolbar ul.products-detai-top-nav li a{padding: 15px 0px;line-height: 30px;display: table;width: 100%;color: #000000;background-color:#fff;cursor: default;}
.products-detai-toolbar ul.products-detai-top-nav li a img, .products-detai-toolbar ul.products-detai-top-nav li a span{vertical-align: middle;float: none;display: table-cell;}
.products-detai-toolbar ul.products-detai-top-nav li a img{float: right;}
.products-detai-toolbar ul.products-detai-top-nav li a span{padding-left: 10px; width: 100px;text-align: left;text-transform: uppercase;}
.products-detai-toolbar ul.products-detai-top-nav li:last-child{margin-right: 0px}
.products-detai-toolbar ul.products-detai-top-nav li.active a{color: #da5462;}
.products-detai-toolbar ul.products-detai-top-nav li.active{border-color: #fff;}
.products-detai-toolbar .toolbar-content-inner{background-color: #fff;padding: 27px;}
.image-toolbar-content{border:1px dashed #ccc;text-align: center ;padding: 115px;cursor: pointer;}
.image-toolbar-content .instagram-a span {padding-left: 40px; font-size: 19px;font-weight: 500; line-height: 26px;}
div.instagram-a img {position: absolute;left: 20px;bottom: 0;top: 0px;}
div.instagram-a {position: relative;margin-top: 30px;}
.done-button{background-color: #CFCECE;text-align: center;margin-top: 20px;}
.done-button a{display: block;padding: 14px 0;line-height: 12px;}
.uploaded-image-quality-good{padding: 33.5px;text-align: center;display: none;}
.uploaded-image-quality-good span{width: 100%;display: table; border-bottom: 2px solid #CFCECE;padding-bottom: 45px ;}
.uploaded-image-quality-good ul{margin: 0px;display: table;width: 100%;margin-top: 45px;}
.uploaded-image-quality-good ul li{list-style: none;width: 33.33333%; float: left;margin-bottom: 0px}
.uploaded-image-quality-good ul li img{/*width: 50px*/}
.uploaded-image-quality-good ul li span{padding-bottom: 0px;border-bottom: 0px;color: #000}
.uploaded-image-quality-good ul li.active span{color: #b3b3b3}
.color-pink{color: #da5462}
#image-toolbar.current .image-toolbar-content{display: none;}
#image-toolbar.current .uploaded-image-quality-good{display: block;}
#image-toolbar.current .done-button{background-color: #84C3BE}
.products-detai-toolbar ul.products-detai-top-nav li a img.icon{display: block;}
.products-detai-toolbar ul.products-detai-top-nav li a img.icon-seleced{display: none;}
.products-detai-toolbar ul.products-detai-top-nav li.active a img.icon{display: none;}
.products-detai-toolbar ul.products-detai-top-nav li.active a img.icon-seleced{display: block;}
.effects-toolbar-content-inner{background-color: #fff;padding: 27px;padding-right: 5px}
.filters ul , .patterns ul{margin: 0;}
.filters ul li, .patterns ul li{display: inline-block;list-style: none;margin-right: 10px;position: relative;margin-bottom: 0px}
.filters ul li a img, .patterns ul li a img{width: 124px}
.filters ul li a, .patterns ul li a{display: block;}
.filters ul li:last-child, .patterns ul li:nth-child(4n+0){margin-right: 0px}
.font-type ul li{position: relative;}
.font-slider div.slick-current a::before, .effects-toolbar-content-inner ul li.active::before{content: '';background: rgba(218, 84, 98, 0.73);color: white;width: 124px;height: 20px;position: absolute;bottom: 9px;}
div.slick-current a::before{bottom: 0px !important}
.effects-toolbar-content-inner ul li{position: relative;}
.font-slider > div{position: relative;min-height: 60px}
.font-slider div label{display: table;width: 124px;text-align: center;height: 60px;background-color: #000}
.font-slider div label span{vertical-align: middle;float: none;display: table-cell;color: #fff;font-size: 16px}
.done-button-next{background-color: #84C3BE;padding: 10px 0}
.done-button-next span{color: #fff}
.toolbar-content-inner-scroll{height: 358px;overflow-y: scroll;}
.toolbar-content-inner-scroll > div > span{ color: #CFCECE; font-size: 15px;  font-weight: 500; line-height: 17px;}
.effects-toolbar-content-inner .toolbar-content-inner-scroll::-webkit-scrollbar{width: 3px;background-color: #ffffff;margin-right: 2px}
.effects-toolbar-content-inner .toolbar-content-inner-scroll::-webkit-scrollbar-thumb{background-color: #EEEEEE;}
.section.product_section.clearfix{position: relative;}
a.repeat-to-back{position: absolute;left: 0;top: 110px;width: 90px;color: #fff;font-size: 12px;font-weight: 300;line-height: 14px;text-align: center;}
a.repeat-to-back span{width: 100%;display: table;}
.repeat-to-back-div{position: absolute;left: 10px;top: 110px;width: 90px;text-align: center;}
.repeat-to-back-div a{color: #fff;font-size: 12px;font-weight: 300;line-height: 14px;text-align: center;}
.repeat-to-back-div a:hover, a.repeat-to-back:hover{color: #da5462;}
.repeat-to-back-div a img{margin-top: 10px}
.repeat-to-back-div span{width: 100%;display: table;}
.font-type{background-color: #fff;padding: 27px;}
.enter-your-text-inner textarea{border: 1px dashed #ccc;text-align: center;padding: 7px;height: 104px;;color: #000000;font-size: 32px;  font-weight: 500; line-height: 36px;  text-align: center;text-transform: initial;}
.align-text {float: right;}
.align-text ul li {display: inline-block;list-style: none;margin-left: 20px;margin-bottom: 0;}
.align-text-title {margin-bottom: 10px;}
.font-type-title span{color: #CFCECE; font-size: 15px;  font-weight: 500; line-height: 17px;}
.font-family {margin-top: 15px;}
.font-slider .slick-prev{background: url(arrow_left.png) no-repeat;opacity: 0.8}
.font-slider .slick-next{background: url(arrow_right.png) no-repeat;opacity: 0.8}
.font-slider .slick-prev, .font-slider .slick-next{height: 30px;top: 50%;-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);z-index: 1}
.font-slider .slick-next:hover, .font-slider .slick-next:focus{background: url(arrow_right.png) no-repeat !important ;opacity: 1;outline: none; box-shadow:0px 0px 0px #000;}
.font-slider .slick-prev:hover, .font-slider .slick-prev:focus{background: url(arrow_left.png) no-repeat !important ;opacity: 1;outline: none; box-shadow:0px 0px 0px #000;}
.font-slider .slick-prev:before{content: initial;}
.font-slider .slick-next:before{content: initial;}
.font-slider {margin-top: 7px;}
.font-color{margin-top: 20px;}
.font-color ul li{list-style: none;float: left;}
.font-color ul li.active a{border-color: #de5462}
.font-color ul li a{width: 42px;height: 42px;display: block;border-radius: 99%;margin-right: 6px;border: 2px solid transparent}
.font-color ul li.color-10 a{background-color: #ffffff}
.font-size-slider{position: absolute;left: 50px;top: 560px;;width: 480px;text-align: center;}
.font-size-slider > div{height: 2px;position: relative;background-color: #fff;}
.font-size-slider > div > span {  height: 32px; width: 32px;  background-color: #FFFFFF;  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);z-index: 2;cursor: default;-ms-touch-action: none;touch-action: none;top: -15px;position: absolute;border-radius: 99%;outline: none;}
.text-view-right{position: absolute;left: 200px;top: 250px;width: 200px;text-align: center;}
.text-view-right span{ font-size: 36px;  font-weight: 500; line-height: 41px;  text-align: center; color: #FFFFFF;}
.products-details-bottom{text-align: center;margin: 0 auto;float: initial;display: block;margin-top: 80px;}
.products-details-bottom form , .products-details-bottom .meta{display: none;}
.products-details-bottom .size_chart{float: initial;}
.filters-img{ }
.filters-img-1{}
.filters-img-2 img{-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.filters-img-3{-webkit-filter: contrast(200%);filter: contrast(200%);}
.filters-img-4{-webkit-filter: sepia(100%);filter: sepia(100%);}
.three-width div.four.columns {width: 380px;}
.three-width.tab-front-back > div.triangle-left:before{right: 89.6%;}
.color-picker a{border: none !important;width: 46px !important;height: 46px !important;}
.color-picker a img{width: 100% !important;}
img.custom-upload-dark-img{margin: 9px;}
.sleeve-height .toolbar-content-inner-scroll {height: 428px;}
.product-personalized .enter-your-text-inner > textarea {min-height: 284px;}
.align-text li a{display: block; height: 16px;width: 20px;}
.align-text #left a{background-image: url('https://cdn.shopify.com/s/files/1/1959/3333/t/9/assets/align left dimmed.svg');}
.align-text #left.active a{ background-image: url('https://cdn.shopify.com/s/files/1/1959/3333/t/9/assets/align left.svg');}
.align-text #center a{background-image: url('https://cdn.shopify.com/s/files/1/1959/3333/t/9/assets/align center dimmed.svg');}
.align-text #center.active a{background-image: url('https://cdn.shopify.com/s/files/1/1959/3333/t/9/assets/align center.svg');}
.align-text #right a{background-image: url('https://cdn.shopify.com/s/files/1/1959/3333/t/9/assets/align right dimmed.svg');}
.align-text #right.active a{background-image: url('https://cdn.shopify.com/s/files/1/1959/3333/t/9/assets/align right.svg');}
.share-button.sharer-0{position: relative;}
.share-button.sharer-0 .social.networks-5.left{position: absolute;left: 0px;margin-left: 0px !important}
.scale-pattern-slider {position: absolute;left: 60px;top: 560px;width: 460px;}
.scale-pattern-slider input:focus{box-shadow: 0px 0px 0px #000}
.product-detail-box{width: 500px;margin: 0 auto;text-align: center;}
.product-detail-box-right .product-detail-box{width: auto;margin: auto;text-align:left}
.add-more-box {display: table;width: 100%;}
.add-more-box .selector-wrapper ,.add-more-box > select, .add-more-box-label label{width: 48%; float: left;}
.add-more-box .left {width: calc(46% - 20px);margin:0 10px;}
.add-more-box .left input.quantity{width: 100%;}
.minus-plus-btn{width: 6%;float: left;padding-top: 12px;}
.minus-plus-btn span{margin: 0px}
.add-more-box-label label:last-child{width: 40%;padding-left: 10px;}
.products-details-left .canvas-container {height: 560px !important;}
.products-details-section #product-detail{border-bottom: 2px solid #ccc;border-top: 2px solid #ccc;padding: 50px 0;margin-top: 50px;}
.product-detail-box-right .product-detail-box .product-form .purchase.clearfix button{width: 48%}
.products-detai-toolbar{overflow: hidden;height: 551px}
.products-details-section #product-detail.product-detail-box-right{padding: 0px;margin-top: 0px;border: 0px}
.pointer-cursor .tab-front-back > div, .pointer-cursor .products-detai-toolbar ul.products-detai-top-nav li a{cursor: pointer !important}

















/*----------------- media section ----------------*/
@media only screen and (min-width: 1500px) and (max-width: 1920px){}
@media only screen and (min-width: 1380px) and (max-width: 1499px){}
@media only screen and (min-width: 1025px) and (max-width: 1199px){
    #content_wrapper .customize-view-all-container .thumbnail .custom{top: 330px;}  
    .scale-pattern-slider, .font-size-slider {left: 40px;top: 570px;width: 380px;}
    .tab-front-back > div.triangle-left:before{right: 81.6%;}
    .font-slider div label{width: 94px;}
    .font-type{padding: 20px 27px;}
    .enter-your-text-inner textarea{height: 54px;}
    .font-family{margin-top: 0px}
    .font-slider > div{min-height: 40px}
    .font-slider div label{height: 40px;}
    .products-details-left .canvas-container {height: 580px !important;}
    .container .eight.columns{width: 100%}
    .products-detai-toolbar{height: auto;}
    .products-details-section #product-detail.product-detail-box-right{border-bottom: 2px solid #ccc;border-top: 2px solid #ccc;padding: 50px 0;margin-top: 50px;width: 100%;margin-left: 0px}
}
@media only screen and (min-width: 991px) and (max-width: 1024px){
    .three-width div.four.columns { width: 300px;}
    .three-width.tab-front-back > div.triangle-left:before {right: 86.6%;}
    .tab-front-back > div.triangle-left:before{right: 81.6%;}
    .canvas-container > canvas {height: 440px !important;}
    .image-toolbar-content{padding: 59.5px;}
    .uploaded-image-quality-good{padding: 0px}
    .uploaded-image-quality-good ul{margin-top: 22px;}
    .uploaded-image-quality-good span{padding-bottom: 25px;}
    .filters ul li a img, .patterns ul li a img{width: 94px}
    .font-slider div.slick-current a::before, .effects-toolbar-content-inner ul li.active::before{width: 94px;height: 15px}
    .toolbar-content-inner-scroll{height: 248px;}
    .font-color ul li a{width: 30px;height: 30px;margin-right: 5px}
    .color-picker a {width: 36px !important; height: 36px !important;}
    .products-detai-toolbar ul.products-detai-top-nav li a span{width: 80px;}
    .product-personalized .enter-your-text-inner > textarea {min-height: 184px;}
    #content_wrapper .customize-view-all-container .thumbnail .custom{top: 330px;}
    .scale-pattern-slider, .font-size-slider {left: 40px;top: 470px;width: 370px;}
    .font-slider div label{width: 94px;}
    .font-type{padding: 10px 27px;}
    .enter-your-text-inner textarea{height: 54px;}
    .font-family{margin-top: 0px}
    .font-slider > div{min-height: 40px}
    .font-slider div label{height: 40px;}
    .font-color{margin-top: 0px}
    .products-detai-toolbar{height: auto;}
    .products-details-left .canvas-container {height: 460px !important;}
    .products-details-section #product-detail.product-detail-box-right{border-bottom: 2px solid #ccc;border-top: 2px solid #ccc;padding: 50px 0;margin-top: 50px;width: 100%;margin-left: 0px}
}
@media only screen and (min-width: 768px) and (max-width: 990px){
  .slick-next{right: 15px !important;}
  .slick-prev{left: 15px !important;}
  .customize-slider-container .custom{line-height: 14px;padding: 10px 15px;top: 160px;} 
  .shop-now-box-tab > ul{margin-left:0px }
  #content_wrapper .customize-view-all-container .thumbnail .custom{top: 250px}
  .tab-front-back > div.triangle-left:before{right: 76.5%;}
  .products-details-left.eight.columns, .products-details-right.eight.columns{width: 100%;margin: 0px}
  .products-details-left.eight.columns > .canvas-container, .products-details-left.eight.columns > .canvas-container > canvas{width: 100% !important;height: 635px !important;}
  .products-detai-toolbar ul.products-detai-top-nav li{width: calc(33.593333% - 10px);}
  .products-detai-toolbar {margin-top: 30px;}
  .products-details-right.eight.columns{margin-bottom: 30px}
  .products-detai-toolbar ul.products-detai-top-nav li a span{width: 130px;}
  .products-details-bottom{width: 100% !important;display: block;margin:0 !important }
  .filters ul li, .patterns ul li{margin:0 15px 5px 0;}
  .filters ul li:last-child, .patterns ul li:nth-child(5n+0){ margin-right: 0px;}
  .text-view-right{left: 35%;width: 240px;}
  .products-details-section{}
  .filters ul li:last-child, .patterns ul li:nth-child(4n+0){margin-right: 15px}
  .three-width div.four.columns {width: 236px;}
  .three-width.tab-front-back > div.triangle-left:before {right: 83.6%;}
  .product-personalized .enter-your-text-inner > textarea {min-height: 184px;}
  .scale-pattern-slider, .font-size-slider {left: 120px; top: 630px;width: 460px;}
  .font-slider div label{width: 164px;}
  .products-detai-toolbar{height: auto;}
  .products-details-section #product-detail.product-detail-box-right{border-bottom: 2px solid #ccc;border-top: 2px solid #ccc;padding: 50px 0;margin-top: 50px;width: 100%;margin-left: 0px}
}
@media only screen and (min-width: 480px) and (max-width: 766px){  
  .scale-pattern-slider , .font-size-slider{left: 30px;top: 470px;width: 360px;}
  .slick-next{right: 15px !important;}
  .slick-prev{left: 15px !important;} 
  .customize-slider-container .custom, #content_wrapper .customize-view-all-container .thumbnail .custom{top: 320px !important;}
  .font-slider div label{width: 88px;}
  .products-detai-toolbar{height: auto;}
}

@media only screen and (min-width: 320px) and (max-width: 766px){  
  .slick-next{right: 15px !important;}
  .slick-prev{left: 15px !important;}
  .shop-now-box-content > .info {margin-bottom: 0px;}
  .shop-now-box-content > .customize-slider-container {margin: 0 0px 10px}
  .shop-now-box-content > .info > h5{font-size: 16px;}
  #content_wrapper .thumbnail{font-size: 14px;}
  .footer{text-align: center;}
  .sixteen.columns.shop-now-box-tab {margin-top: 0px;}
  .shop-now-box-tab > ul{margin-left:0px }
  #content_wrapper .thumbnail a span.shop-now{font-size: 14px;line-height: 20px;padding: 7px 15px;}  
  #content_wrapper .thumbnail a p.collection-title{line-height: 26px;font-size: 24px;margin-bottom: 4px;}
  #content_wrapper .sixteen.columns .eight.columns.alpha.thumbnail:first-child{padding-right: 0px;margin: 0;}
  #content_wrapper .sixteen.columns.thumbnail{margin-top: 0;position: relative}
  #content_wrapper .customize-view-all-container .odd.thumbnail{margin-left: 0px}
  .button-personalize-add-to-cart button:first-child{font-size: 14px;line-height: 16px;}
  .tab-front-back > div.triangle-right:after, .tab-front-back > div.triangle-left:before{display: none;}
  .tab-front-back > div{margin-bottom: 10px !important}
  .products-details-left.eight.columns, .products-details-right.eight.columns{width: 100%;margin: 0px}
  .products-details-left.eight.columns > .canvas-container, .products-details-left.eight.columns > .canvas-container > canvas{width: 100% !important;height: 330px !important}
  .products-detai-toolbar ul.products-detai-top-nav li{width: calc(34.393333% - 12px);}
  .products-detai-toolbar {margin-top: 30px;}
  .products-details-right.eight.columns{margin-bottom: 30px}
  .products-detai-toolbar ul.products-detai-top-nav li a span{width: initial;padding-left: 0px;text-align: center;}
  .products-detai-toolbar ul.products-detai-top-nav li a img{display: none !important;}
  .products-details-bottom{width: 100% !important;display: block;margin:0 !important }
  .filters ul li, .patterns ul li{margin:0 15px 5px 0;}
  .text-view-right{left: 23%;width: 170px;top: 240px}
  .products-detai-toolbar ul.products-detai-top-nav li a{padding: 5px 0px;}
  .products-detai-toolbar .toolbar-content-inner{padding: 15px;}
  div.instagram-a img{left: initial;}
  div.instagram-a{margin-top: 10px;}
  .image-toolbar-content, #image-toolbar.current .uploaded-image-quality-good{padding: 10px}
  .uploaded-image-quality-good span{padding-bottom: 5px;}
  .uploaded-image-quality-good ul{margin-top: 15px;}
  .toolbar-content-inner-scroll ul li:nth-child(2n+0){margin: 0;}
  .filters ul li a img, .patterns ul li a img {}
  .effects-toolbar-content-inner{padding: 15px;padding-right: 5px;}
  a.repeat-to-back{top: 230px;}
  .repeat-to-back-div{top: 210px; width: 60px;}
  .repeat-to-back-div a img{width: 30px;}
  .font-type{padding: 15px}
  .align-text-title{text-align: center;} 
  .align-text{width: 100%;}
  .three-width div.four.columns{width: 100%}
  .product-personalized .enter-your-text-inner > textarea {min-height: 100px;}
  .product-detail-box{width: 100%}
  .products-detai-toolbar{height: auto;}
  .products-details-section #product-detail.product-detail-box-right{border-bottom: 2px solid #ccc;border-top: 2px solid #ccc;padding: 50px 0;margin-top: 50px;width: 100%;margin-left: 0px}
}
@media only screen and (min-width: 320px) and (max-width: 500px){    
  .customize-slider-container .custom, #content_wrapper .customize-view-all-container .thumbnail .custom{top: 200px !important;}
  .products-details-left.eight.columns > .canvas-container, .products-details-left.eight.columns > .canvas-container > canvas{width: 100% !important;height: 300px !important}
  .font-color ul li a{width: 30px;height: 30px}
  .color-picker a{width: 36px !important;height: 32px !important;} 
  .scale-pattern-slider ,.font-size-slider{left: 20px;top: 440px;width: 260px;}
  .font-slider div label{width: 100%;}
}