var current = '{{ settings.front }}',
    next = '{{ settings.back }}',
    front,
    back;
    
//set overlay image
function setBackgroundImage(img) {  
    delete canvas.backgroundImage;
    canvas.setBackgroundImage(img, canvas.renderAll.bind(canvas), {
        backgroundImageStretch: false,
        id: '{{ settings.canvas_bg_id }}',
        crossOrigin: 'anonymous'
    });
    $.unblockUI();
}

//click personalize button
$('#personalize').on('click', function(e){
    $('.products-details-right').show();
    $('#extra-buttons, .tab-front-back').toggle();
    $('#product-detail').addClass('sixteen').addClass('alpha').removeClass('product-detail-box-right').removeClass('eight');
});

//go to next
$('.done-button').on('click', function(e){
    goToStep(next);
});

//handle step navigation
function goToStep(step) {
    
    if(current == step) { return false; }
    
    $('#' + step).addClass('active').siblings().removeClass('active');
    $('.products-details-right').show();
    $('.product-form').hide();
    //initialize type toolbar
    $('#{{ settings.text_area_id }}').css('text-align', 'center').val("");  //clear textarea
    
    if(current != '{{ settings.order }}') {
        canvasPreview();//display preview
    }
    
    if(step == '{{ settings.front }}') {
        if(typeof front == 'undefined') {
            setBackgroundImage($('.flex-control-nav li:first').find('img').attr('src'));
        }
        if(current == '{{ settings.back }}' || current == '{{ settings.order }}') {
            if(current == '{{ settings.back }}') {
                back = stringifyCanvas();
            }
            canvas.clear();
            try {
                canvas.loadFromJSON(JSON.parse(front));
            } catch (e) {
                console.log(e);
            }
        }
        current = '{{ settings.front }}';
        next = '{{ settings.back }}';
        
    }  else if(step == '{{ settings.back }}'){   
        if(current == '{{ settings.front }}'){
            front = stringifyCanvas();
            if(typeof back == 'undefined') {
                setBackgroundImage($('.flex-control-nav li:last').find('img').attr('src'));
            }
        }
        canvas.clear();
        try {                
            canvas.loadFromJSON(JSON.parse(back));
        } catch (e) {
            console.log(e);
        }
        current = '{{ settings.back }}';
        next = '{{ settings.order }}';
    } else {
        if(current == '{{ settings.back }}') {
            back = stringifyCanvas();
            canvas.clear();
            try {                
                canvas.loadFromJSON(JSON.parse(front));
            } catch (e) {
                console.log(e);
            }
        }   
        $('.products-details-right').hide();
        $('.product-form').show();
        current = '{{ settings.order }}';
        next = '{{ settings.order }}';
    }
    canvas.renderAll().calcOffset();
    if(current != '{{ settings.order }}') {
        selectObject('{{ settings.canvas_text_id }}');
        $('#product-detail').addClass('sixteen').addClass('product-detail-box-right').addClass('alpha').removeClass('eight');
    } else {
        $('#product-detail').addClass('eight').removeClass('sixteen').removeClass('alpha');
        disableCanvas();
    }
};

$("#add_to_cart").click(function(e){
    $('#product-detail').addClass('eight').removeClass('sixteen').removeClass('alpha');
    $('.products-details-right, #extra-buttons, .tab-front-back').hide();
    $('.product-form').show();
    current = '{{ settings.order }}';
    next = '{{ settings.front }}';
});

$('.flex-active').click(function(e) {
    var step = $(this).attr('data-step');
    if(!$('#extra-buttons').is(":visible") && (current == '{{ settings.front }}' || current == '{{ settings.back }}')) {
        goToStep(step);
    } else {
        $.blockUI();
        if(current != '{{ settings.order }}') {            
            current = step;
            $('#' + step).addClass('active').siblings().removeClass('active');
            if(current = '{{ settings.front }}') {
                next = '{{ settings.back }}';
            } else {
                next = '{{ settings.order }}';
            }                
        }
        canvas.clear();
        fabric.Image.fromURL($(this).attr("src"), function (preview) {
            preview.selectable = false;
            canvas.centerObject(preview).add(preview).renderAll();
        }, { crossOrigin: 'anonymous' });
        $.unblockUI();
    }
});
