{% if settings.slideshow_collection_enabled %}
  <div id="slide-collection">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-collection">
          <div class="hsContainer">
            <div class="hsContent center">
              {% if settings.display_collection_header_title %}
                <div>
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ collection.title }}</h1>
                </div>
              {% endif %}                
            </div>
          </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container">
{% endif %}

{% paginate collection.products by settings.pagination_limit %}
  {% if settings.display_collection_title %}
    <div class="sixteen columns">
      <h1 class="center">{{ collection.title }}</h1>
      <div class="feature_divider"></div>
    </div>
  {% endif %}
  <div class="section clearfix">
    <div class="sixteen columns breadcrumb">
      <div class="six columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
      {% include 'collection-breadcrumb' %}
      </div>
      
      {% if collection.handle != blank and collection.products_count > 0 %}
        {% if settings.collection_tags %}        
          <div class="five columns section_select {% unless settings.collection_sort %}offset-by-four omega{% endunless %}">
          {% for tag in collection.all_tags %}
            {% if forloop.first %}
              <label for="tag_filter" class="inline">{{ 'collections.sorting.filter' | t }}: </label> 
              <select name="tag_filter" id="tag_filter">
                <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
            {% endif %}          
              
            {% unless tag contains 'meta-related-collection-' %}
              <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
            {% endunless %}
            
            {% if forloop.last %}
              </select>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}

       {% if settings.collection_sort %}
          <div class="five columns section_select omega {% unless settings.collection_tags %}offset-by-four{% endunless %}">
            <label for="sort-by" class="inline">{{ 'collections.sorting.title' | t }}: </label> 
            <select id="sort-by">
              <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
            </select>
            <script type="text/javascript">
              // <![CDATA[  
                $('#sort-by')
                  .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
                  .bind('change', function() {
                    Shopify.queryParams.sort_by = $(this).val();
                    location.search = $.param(Shopify.queryParams);
                });
              // ]]>
            </script>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% if settings.collection_sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns">
  {% else %}
    <div class="sixteen columns customize-view-all-container">
  {% endif %}

    {% if settings.collection_description and collection.description != blank %}
      <div class="section clearfix collection_description">    
        {{ collection.description }}
      </div>
    {% endif %}

    {% if collection.products.size == 0 %}
      <div class="section clearfix">     
        <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' with settings.collection_sidebar %}
    {% endif %}

    {% include 'pagination' with settings.collection_sidebar %}
  </div>
{% endpaginate %}
