{% assign linklist = linklists[collection.handle] %}
{% assign product_exists = 0 %}
{% assign title_exists = 0 %}
{% assign type = "" %}

<div class="sixteen columns shop-now-box-tab">
    <ul>
        {% if collection.handle == settings.create_collection_one or collection.handle == settings.create_collection_two or collection.handle == settings.create_collection_three or collection.handle == settings.create_collection_four %}
            {% assign type = settings.create_menu_handle %}
            {% if settings.create_collection_one != blank %}
                <li>
                    <a href="{{ collections[settings.create_collection_one].url }}" class="{% if collection.handle == settings.create_collection_one %}active{% assign title_exists = title_exists | plus: 1 %}{% endif %}" title="{{ collections[settings.create_collection_one].title | camelcase }}">{{ collections[settings.create_collection_one].title | camelcase }}</a>
                </li>
            {% endif %} 
            {% if settings.create_collection_two != blank %}
                <li>
                    <a href="{{ collections[settings.create_collection_two].url }}" class="{% if collection.handle == settings.create_collection_two %}active{% assign title_exists = title_exists | plus: 1 %}{% endif %}" title="{{ collections[settings.create_collection_two].title | camelcase }}">{{ collections[settings.create_collection_two].title | camelcase }}</a>
                </li>
            {% endif %} 
            {% if settings.create_collection_three != blank %}
                <li>
                    <a href="{{ collections[settings.create_collection_three].url }}" class="{% if collection.handle == settings.create_collection_three %}active{% assign title_exists = title_exists | plus: 1 %}{% endif %}" title="{{ collections[settings.create_collection_three].title | camelcase }}">{{ collections[settings.create_collection_three].title | camelcase }}</a>
                </li>
            {% endif %} 
            {% if settings.create_collection_four != blank %}
                <li>
                    <a href="{{ collections[settings.create_collection_four].url }}" class="{% if collection.handle == settings.create_collection_four %}active{% assign title_exists = title_exists | plus: 1 %}{% endif %}" title="{{ collections[settings.create_collection_four].title | camelcase }}">{{ collections[settings.create_collection_four].title | camelcase }}</a>
                </li>
            {% endif %}
        {% endif %}
        {% if collection.handle == settings.shop_collection_one or collection.handle == settings.shop_collection_two or collection.handle == settings.shop_collection_three or collection.handle == settings.shop_collection_four %}
            {% assign type = settings.shop_menu_handle %}
            {% if settings.shop_collection_one != blank %}
                <li>
                    <a href="{{ collections[settings.shop_collection_one].url }}" class="{% if collection.handle == settings.shop_collection_one %}active{% assign title_exists = title_exists | plus: 1 %}{% endif %}" title="{{ collections[settings.shop_collection_one].title | camelcase }}">{{ collections[settings.shop_collection_one].title | camelcase }}</a>
                </li>
            {% endif %} 
            {% if settings.shop_collection_two != blank %}
                <li>
                    <a href="{{ collections[settings.shop_collection_two].url }}" class="{% if collection.handle == settings.shop_collection_two %}active{% assign title_exists = title_exists | plus: 1 %}{% endif %}" title="{{ collections[settings.shop_collection_two].title | camelcase }}">{{ collections[settings.shop_collection_two].title | camelcase }}</a>
                </li>
            {% endif %} 
            {% if settings.shop_collection_three != blank %}
                <li>
                    <a href="{{ collections[settings.shop_collection_three].url }}" class="{% if collection.handle == settings.shop_collection_three %}active{% assign title_exists = title_exists | plus: 1 %}{% endif %}" title="{{ collections[settings.shop_collection_three].title | camelcase }}">{{ collections[settings.shop_collection_three].title | camelcase }}</a>
                </li>
            {% endif %} 
            {% if settings.shop_collection_four != blank %}
                <li>
                    <a href="{{ collections[settings.shop_collection_four].url }}" class="{% if collection.handle == settings.shop_collection_four %}active{% assign title_exists = title_exists | plus: 1 %}{% endif %}" title="{{ collections[settings.shop_collection_four].title | camelcase }}">{{ collections[settings.shop_collection_four].title | camelcase }}</a>
                </li>
            {% endif %}
        {% endif %}
        {% if title_exists == 0 %}
            <li>
                <a href="" class="active">{{ collection.title | camelcase }}</a>
            </li>
        {% endif %}
    <ul>        
</div>

<div class="sixteen columns shop-now-box-content">
    {% for link in linklist.links %}
        {% assign slider = link.url | remove : '/collections/' %}
        {% if collections[slider].products_count > 0 %}
            {% assign product_exists = product_exists | plus: 1 %}
            <div class="info">
                <h5 style="display:inline;">{{ collections[slider].title }} {{ collections[slider].products[0].price | money }}</h5>
                {% if collections[slider].all_products_count > 3 %}
                <span class="title" style="float:right;"><a href="{{ link.url }}" title="{{ link.title }}">View All</a></span>
                {% endif %}
            </div>
            {% if type == settings.create_menu_handle %}
            <div class="description">
                {{ collections[slider].description }}
            </div>
            {% endif %}
            <div class="slider-container customize-slider-container">
                <div class="slider {{ settings.slick_slider_class }} slider-custom">                    
                    {% for product in collections[slider].products %}
                        <div class="four columns thumbnail">
                            
                            {% include 'customize-button' with product %}

                            <a href="{{ product.url }}" title="{{ product.title }}">
                                <img src="{{ product | img_url: "medium" }}" alt="{{ product.title }}" style="opacity: 1;">
                                <div class="info"> 
                                    <span class="title">{{ product.title }}</span>
                                    {% if type == settings.create_menu_handle %}
                                        <span class="product-type">{{ product.type }}</span>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if product_exists == 0 %}
      <div class="section clearfix">     
        <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}
</div>