<div class="container">
    <div class="sixteen columns thumbnail">
        {% if settings.shop_collection_one != blank and collections[settings.shop_collection_one].products_count > 0 %}
            {% assign collection = collections[settings.shop_collection_one] %}
            {% include 'collection-all-loop' with collection %}
        {% endif %}
    </div>
    <div class="sixteen columns">
        <div class="eight columns alpha thumbnail">
            {% if settings.shop_collection_two != blank and collections[settings.shop_collection_two].products_count > 0 %}
                {% assign collection = collections[settings.shop_collection_two] %}
                {% include 'collection-all-loop' with collection %}
            {% endif %}
        </div>
        <div class="eight columns alpha thumbnail">
            {% if settings.shop_collection_three != blank and collections[settings.shop_collection_three].products_count > 0 %}
                {% assign collection = collections[settings.shop_collection_three] %}
                {% include 'collection-all-loop' with collection %}
            {% endif %}
        </div>
    </div>
    <div class="sixteen columns thumbnail">
        {% if settings.shop_collection_four != blank and collections[settings.shop_collection_four].products_count > 0 %}
            {% assign collection = collections[settings.shop_collection_four] %}
            {% include 'collection-all-loop' with collection %}
        {% endif %}
    </div>
</div>
