<div class="sixteen columns">
  <div class="clearfix breadcrumb">
      {% include 'product-breadcrumb' with product %}
  </div>
</div>
<div class="sixteen columns">
  <div class="product-{{ product.id }}">

  <div class="section product_section products-details-section clearfix pointer-cursor" itemscope itemtype="http://schema.org/Product">
    <div class="three-width sixteen columns alpha omega tab-front-back" style="display:none;">       
        
        <div class="four columns alpha active triangle-right" id="{{ settings.front }}" onclick="goToStep('{{ settings.front }}')">
            <div class="active">1/Front</div>
        </div>
        <div class="four columns triangle-left triangle-right" id="{{ settings.back }}" onclick="goToStep('{{ settings.back }}')">
            <div>2/Back</div>
        </div>
        <div class="four columns omega triangle-left" id="{{ settings.order }}" onclick="goToStep('{{ settings.order }}')">
            <div>3/Order</div>
        </div>
    </div>    
    <div class="products-details-left eight columns alpha">
        {% include 'product-designer' %}
    </div>

    <div class="products-details-right eight columns omega">
      
      {% assign collection_handles = product.collections | map: 'handle' %}
      {% assign variant = product.selected_or_first_available_variant %}
      
      {% unless collection_handles contains 'coming-soon' %}
        <div class="products-details-right" style="display: none;">
            <div class="products-detai-toolbar">
                <div class="toolbar-content">
                    <div id="{{ settings.type_toolbar_id }}" class="{{ settings.tab_view_class }}">
                        <div class="font-type">
                          <div class="enter-your-text">
                            <div class="align-text-title font-type-title">
                              <span>{{ settings.text_area_title | upcase }}</span>
                              <div class="align-text" id="{{ settings.text_align_id }}">
                                <ul>
                                  	<li><span>{{ settings.text_align_title | upcase }}</span></li>
                                    <li id="left"><a href="javascript:void(0);"></a></li>
                                    <li id="center" class="active"><a href="javascript:void(0);"></a></li>
                                    <li id="right"><a href="javascript:void(0);"></a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="enter-your-text-inner">
                                <textarea id="{{ settings.text_area_id }}" rows="4" cols="50" placeholder="text"></textarea> 
                            </div>
                          </div>
                          <div class="{{ settings.font_color_class }} font-type-title">
                            <span>{{ settings.font_color_title | upcase }}</span>
                            {% assign font_colors = settings.font_colors | split: '|' %}
                            <ul>
                                {% for font_color in font_colors %}                                                            {% assign index = forloop.index %}
                                    <li class="{% if font_color == settings.default_font_color %}active{% endif %}" id="{{ font_color }}">
                                      <a href="javascript:void(0);" style="background-color: #{{ font_color }}"></a>
                                    </li>                           
                                {% endfor %} 
                                <li class="custom-color" id="" style="display:none;">
                                    <a href="javascript:void(0);" style=""></a>
                                </li>
                                <li class="color-picker">
                                    <a href="javascript:void(0);">
                                        <img src="{{ 'more.svg' | asset_url }}" />
                                    </a>
                                </li>
                            </ul>
                          </div>
                        </div>
                        <div class="done-button done-button-next">
                          <span>NEXT</span>
                        </div>
                        <div class="{{ settings.obj_repeat_class }}-div">
                          <a class="{{ settings.obj_center_class }}" href="javascript:void(0);"><img src="{{ settings.pattern_center_icon | asset_url }}" /> <span>{{ settings.obj_center_text | upcase }}</span></a>
                          <a class="{{ settings.obj_rotate_class }}" href="javascript:void(0);"><img src="{{ settings.pattern_rotate_icon | asset_url }}" /> <span>{{ settings.obj_rotate_text | upcase }}</span></a>
                        </div>
                        <div class="{{ settings.font_size_slider_class }}">
                            <input id="{{ settings.font_size_slider_id }}" type="range" min="{{ settings.min_font_value }}" value="{{ settings.default_font_size }}" max="{{ settings.max_font_value }}" step="2">
                        </div>
                      </div>
                </div>
            </div>
        </div>
      {% endunless %} 
      
    </div>
    <div id="product-detail" class="eight columns omega product-detail-box-right">
      <div class="product-detail-box">
        <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
        {% if settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
        {% endif %}

        {% if variant.sku != blank and settings.display_sku %}
          <p class="sku">
            <span itemprop="sku">{{ variant.sku }}</span>
          </p>
        {% endif %}

        {% unless collection_handles contains 'coming-soon' %}
          <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            <meta itemprop="seller" content="{{ shop.name | escape }}" />
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
            <meta itemprop="itemCondition" content="New" />

            <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
            <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
              <span class="current_price">
                {% if variant.available %}
                  {% if variant.price > 0 %} 
                    {{ variant.price | money }} 
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                {% endif %}
              </span>
            </span>
            <span class="was_price">
            {% if variant.price < variant.compare_at_price and variant.available %}
              {{ variant.compare_at_price | money }}
            {% endif %}
            </span>
          </p>
          
          {% include 'product-notify-me' %}
        {% endunless %}

        {% unless collection_handles contains 'coming-soon' %}        
          <div class="button-personalize-add-to-cart" id='extra-buttons'>
              <button id="personalize" class="personalize action_button"><span class="text">{{ settings.personalize_button_text }}</span></button>
              <button id="add_to_cart" class="action_button add_to_cart"><span class="text">{{ settings.add_to_cart_text | upcase }}</span></button>
          </div>
          <div class="product-form" style="display:none;">
          {% include 'product-form-custom' with 'product' %}
          </div>
        {% endunless %}  

        
        {% if product.description != blank %}
          <div class="description" itemprop="description">
            {{ product.description | split: '<!-- split -->' | first }}
          </div>
        {% endif %}
        
        {% if settings.size_chart != blank %}
          <a href="#size-chart" class="lightbox size_chart">{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
        {% endif %}

        {% if settings.display_collections or settings.display_tags or settings.display_type %}
         <hr />
        {% endif %}
       
        <div class="meta">
          {% if settings.display_social_buttons %}
            <div class="share-button"></div>
          {% endif %}
          
          {% if settings.display_collections %}
            <p>
              <span class="label">{{ 'products.product.collections' | t }}:</span> 
              <span>
               {% for col in product.collections %}
                 <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %} 
               {% endfor %}
             </span>
           </p>
          {% endif %}
        
          {% if settings.display_tags %}
             <p>
               {% for tag in product.tags %}
                 {% if forloop.first %}
                   <span class="label">{{ 'products.product.tags' | t }}:</span> 
                 {% endif %}

                 {% unless tag contains 'meta-related-collection-' %}
                   <span>
                     <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                   </span>
                 {% endunless %} 
               {% endfor %}
             </p>
          {% endif %}
        
         {% if settings.display_type %}
            <p>
              <span class="label">{{ 'products.product.product_types' | t }}:</span> 
              <span>{{ product.type | link_to_type }}</span>
            </p>
         {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if product.description contains "<!-- split -->"  %}
    <br class="clear" />
    <div class="section clearfix">
      <div class="description">
        {{ product.description | split: '<!-- split -->' | last }}
      </div>
    </div>
  {% endif %}
  </div>

  {% if settings.display_related_products %}
    {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign col = tag | remove: 'meta-related-collection-' %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
      
    {% assign prod-list = '' %}
    {% for tag in product.tags %}
        {% if tag contains 'meta-related-products-' %}
          {% assign tmp_tag = tag | remove: 'meta-related-products-' %}
          {% assign prod-list = prod-list | append: tmp_tag | append: ';' %}
       {% endif %}
    {% endfor %}
    
    {% if col and collections[col].all_products_count > 0 or prod-list != empty %}
      {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id or prod-list != empty %}
        <br class="clear" />
        <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
        <div class="feature_divider"></div>

        {% assign products_per_row = settings.products_per_row %}
        {% assign skip_product = product %}
        {% if prod-list == empty %}     
            {% assign products = collections[col].products %}
            {% include 'product-loop' with settings.product_sidebar %}
        {% else %}
            {% assign rel-products = prod-list | remove_last: ';' | split: ';' %}
            <div itemtype="http://schema.org/ItemList" class="products related-products">
            {% for p-handle in rel-products %}    
                {% assign product = all_products[p-handle] %}
                {% include 'product-thumbnail' %}
            {% endfor%}
            </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>