<div class="sixteen columns">
  <div class="clearfix breadcrumb">
      {% include 'product-breadcrumb' with product %}
  </div>
</div>

<div class="sixteen columns">
  <div class="product-{{ product.id }}">

  <div class="section product_section products-details-section clearfix" itemscope itemtype="http://schema.org/Product">
    {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
    <div class="{% if number_of_images <= '2' %} three-width {% endif %} sixteen columns alpha omega tab-front-back">
        <div class="four columns alpha active triangle-right" id="{{ settings.front }}" onclick="goToStep('{{ settings.front }}')">
            <div class="active">1/{% if product.title contains 'Legging' %}Right{% else %}Front{% endif %}</div>
        </div>
        {% if number_of_images > '2' %}
        <div class="four columns triangle-left triangle-right" id="{{ settings.sleeve }}" onclick="goToStep('{{ settings.sleeve }}')">
            <div>2/{% if product.title contains 'Hoodie' %}Hood{% elsif product.title contains 'Legging' %}Band{% else %}Sleeve{% endif %}
</div>
        </div>
        {% endif %}
        <div class="four columns triangle-left triangle-right" id="{{ settings.back }}" onclick="goToStep('{{ settings.back }}')">
            <div>{% if number_of_images > '2' %}3{% else %}2{% endif %}/{% if product.title contains 'Legging' %}Left{% else %}Back{% endif %}</div>
        </div>        
        <div class="four columns omega triangle-left" id="{{ settings.order }}" onclick="goToStep('{{ settings.order }}')">
            <div>{% if number_of_images > '2' %}4{% else %}3{% endif %}/Order</div>
        </div>
    </div>    
    <div class="products-details-left eight columns alpha">
        {% include 'product-designer' %}
    </div>

    <div class="products-details-right eight columns omega">
      
      {% assign collection_handles = product.collections | map: 'handle' %}
      {% assign variant = product.selected_or_first_available_variant %}
      
      {% unless collection_handles contains 'coming-soon' %}
        <div class="products-details-right">
            <div class="products-detai-toolbar">
                <ul class="products-detai-top-nav">
                    <li class="{{ settings.nav_toolbar }} active {{ settings.front }}-last-active {{ settings.back }}-last-active" for="{{ settings.image_toolbar_id }}">
                        <a href="javascript:void(0);"><img class="icon-seleced" src="{{ settings.toolbar_img_selected_icon | asset_url }}" /><img class="icon" src="{{ settings.toolbar_img_icon | asset_url }}" /><span>{{ settings.image_toolbar_title | upcase }}</span></a>
                    </li>
                    <li class="{{ settings.nav_toolbar }}" for="{{ settings.effect_toolbar_id }}"> 
                        <a href="javascript:void(0);"><img class="icon" src="{{ settings.toolbar_effect_icon | asset_url }}" /><img class="icon-seleced" src="{{ settings.toolbar_effect_selected_icon | asset_url }}" /><span>{{ settings.effect_toolbar_title | upcase }}</span></a>
                    </li>
                    <li class="{{ settings.nav_toolbar }}" for="type-toolbar">
                        <a href="javascript:void(0);"><img class="icon" src="{{ settings.toolbar_font_icon | asset_url }}" /><img class="icon-seleced" src="{{ settings.toolbar_font_selected_icon | asset_url }}" /><span>{{ settings.type_toolbar_title | upcase }}</span></a>
                    </li>
                </ul>
                <div class="toolbar-content">
                    <div id="{{ settings.image_toolbar_id }}" class="{{ settings.tab_view_class }}">
                        <div class="toolbar-content-inner">
                            <div class="image-toolbar-content" id="{{ settings.dropzone }}">                
                                <img src="{{ settings.image_upload_icon | asset_url }}" /> 
                                <div>Drag an image here or <span class="color-pink browse-button-text">browse</span><input type="file" class="color-pink" name="pattern" accept="image/x-png,image/jpg,image/jpeg" id="{{ settings.browse_pattern }}" style="display: none;"/> for an image to upload</div> 
                                <!--<div class="color-pink instagram-a">
                                    <img src="{{ settings.image_instagram_icon | asset_url }}" />
                                    <span>Add image from Instagram</span>
                                </div>-->
                            </div>
                            <div class="uploaded-image-quality-good" id="{{ settings.pattern_quality_div }}">
                                <img src="" id="{{ settings.pattern_quality_icon_src_id }}-{{ settings.front }}"/>
                                <span id="{{ settings.pattern_quality_text_id }}-{{ settings.front }}"></span>
                                <img src="" id="{{ settings.pattern_quality_icon_src_id }}-{{ settings.back }}" style="display: none"/>
                                <span id="{{ settings.pattern_quality_text_id }}-{{ settings.back }}" style="display: none"></span>
                                <ul>
                                    <li class="browse-button-text">
                                        <a href="javascript:void(0);">
                                            <img class="custom-upload-dark-img" src="{{ settings.image_upload_icon_dimmed | asset_url }}" />
                                            <span>{{ settings.obj_upload_text | upcase }}</span>
                                        </a>
                                    </li>
                                    <li class="{{ settings.obj_rotate_class }}">
                                        <a href="javascript:void(0);">
                                            <img src="{{ settings.pattern_rotate_icon | asset_url }}" />
                                            <span>{{ settings.obj_rotate_text | upcase }}</span>
                                        </a>
                                    </li>
                                    <li class="{{ settings.obj_center_class }}">
                                        <a href="javascript:void(0);">
                                            <img src="{{ settings.pattern_center_icon | asset_url }}" />
                                            <span>{{ settings.obj_center_text | upcase }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="done-button">
                            <a href="javascript:void(0);"><img src="{{ 'checkmark.svg' | asset_url }}" /></a>
                        </div>
                    </div>
                    <div id="{{ settings.effect_toolbar_id }}" class="{{ settings.tab_view_class }}" style="display: none;">
                        <div class="effects-toolbar-content-inner">
                            <div class="toolbar-content-inner-scroll">
                                <div class="{{ settings.filter_class }}">
                                    <span>{{ settings.effect_filters_title | upcase }}</span>
                                    <ul class="{{ settings.filter_class }}-{{ settings.front }}">
                                        <li class="active {{ settings.front }} filters-img filters-img-1" data-filter="4">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.default_filter_img | asset_url }}" /></a>
                                        </li>
                                        <li class="filters-img filters-img-2" data-filter="0">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.default_filter_img | asset_url }}" /></a>
                                        </li>
                                        <li class="filters-img filters-img-3" data-filter="1">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.default_filter_img | asset_url }}" /></a>
                                        </li>
                                        <li class="filters-img filters-img-4" data-filter="2">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.default_filter_img | asset_url }}" /></a>
                                        </li>
                                    </ul>
                                    <ul class="{{ settings.filter_class }}-{{ settings.back }}" style="display: none" data-pattern='0'>
                                        <li class="active {{ settings.back }} filters-img filters-img-1" data-filter="4">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.default_filter_img | asset_url }}" /></a>
                                        </li>
                                        <li class="filters-img filters-img-2" data-filter="0">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.default_filter_img | asset_url }}" /></a>
                                        </li>
                                        <li class="filters-img filters-img-3" data-filter="1">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.default_filter_img | asset_url }}" /></a>
                                        </li>
                                        <li class="filters-img filters-img-4" data-filter="2">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.default_filter_img | asset_url }}" /></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="{{ settings.pattern_class }}">
                                    <span>{{ settings.pattern_title | upcase }}</span>
                                    <ul>
                                        <li class="" data-pattern="1">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern1 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern1 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="2">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern2 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern2 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="3">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern3 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern3 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="4">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern4 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern4 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="5">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern5 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern5 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="6">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern6 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern6 | asset_url }}"/></a>
                                        </li>
                                        <li class="" data-pattern="7">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern7 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern7 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="8">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern8 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern8 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="9">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern9 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern9 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="10">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern10 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern10 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="11">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern11 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern11 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="12">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern12 | asset_img_url: 'compact' }}"  data-src="{{ settings.protocol }}{{ settings.pattern12 | asset_url }}"/></a>
                                        </li>
                                        <li class="" data-pattern="13">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern13 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern13 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="14">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern14 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern14 | asset_url }}" /></a>
                                        </li>
                                        <li class="" data-pattern="15">
                                            <a href="javascript:void(0);"><img src="{{ settings.protocol }}{{ settings.pattern15 | asset_img_url: 'compact' }}" data-src="{{ settings.protocol }}{{ settings.pattern15 | asset_url }}" /></a>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                        <div class="done-button done-button-next">
                            <span>NEXT</span>
                        </div>
                        <a class="{{ settings.obj_repeat_class }}" href="javascript:void(0);"><img src="{{ settings.repeat_icon | asset_url }}" class="repeat-icon-img"/><img src="{{ settings.repeat_icon_active | asset_url }}" class="repeat-icon-img" style="display:none;"/> <span>{{ settings.obj_repeat_text | upcase }}</span></a>
                        <div class="{{ settings.patten_scale_slider_class }}">
                            <input id="{{ settings.scale_pattern }}" type="range" min="{{ settings.scale_pattern_min }}" value="{{ settings.scale_pattern_default }}" max="{{ settings.scale_pattern_max }}" step="{{ settings.scale_pattern_step }}">
                        </div>
                    </div>
                    <div id="{{ settings.type_toolbar_id }}" class="{{ settings.tab_view_class }}" style="display: none;">
                        <div class="font-type">
                          <div class="enter-your-text">
                            <div class="align-text-title font-type-title">
                              <span>{{ settings.text_area_title | upcase }}</span>
                              <div class="align-text" id="{{ settings.text_align_id }}">
                                <ul>
                                    <li><span>{{ settings.text_align_title | upcase }}</span></li>
                                    <li id="left"><a href="javascript:void(0);"></a></li>
                                    <li id="center" class="active"><a href="javascript:void(0);"></a></li>
                                    <li id="right"><a href="javascript:void(0);"></a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="enter-your-text-inner">
                                <textarea id="{{ settings.text_area_id }}" rows="4" cols="50" placeholder="text"></textarea> 
                            </div>
                          </div>
                          <div class="{{ settings.font_family_class }} font-type-title">
                            <span>{{ settings.font_family_title | upcase }}</span>
                            
                            {% assign fonts = settings.fonts | replace: '+', ' ' | split: '|' %}            
                            <div class="{{ settings.font_slider_class }}">                                
                                {% for font in fonts %}
                                <div id="{{ font }}" class="{% if font == settings.default_font %}active{% endif %}">
                                    <label>
                                    <span style="font-family: '{{ font }}'">{{ font }}</span>
                                    </label>
                                </div>                                    
                                {% endfor %}
                            </div>
                          </div>
                          <div class="{{ settings.font_color_class }} font-type-title">
                            <span>{{ settings.font_color_title | upcase }}</span>
                            {% assign font_colors = settings.font_colors | split: '|' %}
                            <ul>
                                {% for font_color in font_colors %}                                                            {% assign index = forloop.index %}
                                    <li class="{% if font_color == settings.default_font_color %}active{% endif %}" id="{{ font_color }}">
                                      <a href="javascript:void(0);" style="background-color: #{{ font_color }}"></a>
                                    </li>                           
                                {% endfor %}
                                <li class="custom-color" id="" style="display:none;">
                                    <a href="javascript:void(0);" style=""></a>
                                </li>
                                <li class="color-picker">
                                    <a href="javascript:void(0);" >
                                        <img src="{{ 'more.svg' | asset_url }}" />
                                    </a>
                                </li>
                            </ul>
                          </div>
                        </div>
                        <div class="done-button done-button-next">
                          <span>NEXT</span>
                        </div>
                        <div class="{{ settings.obj_repeat_class }}-div">
<!--                          <a class="{{ settings.obj_repeat_class }}-link" href="javascript:void(0);"><img src="{{ settings.repeat_icon | asset_url }}" /><span>{{ settings.obj_repeat_text | upcase }}</span></a>-->
                          <a class="{{ settings.obj_center_class }}" href="javascript:void(0);"><img src="{{ settings.pattern_center_icon | asset_url }}" /> <span>{{ settings.obj_center_text | upcase }}</span></a>
                          <a class="{{ settings.obj_rotate_class }}" href="javascript:void(0);"><img src="{{ settings.pattern_rotate_icon | asset_url }}" /> <span>{{ settings.obj_rotate_text | upcase }}</span></a>
                        </div>
                        <div class="{{ settings.font_size_slider_class }}">
                            <input id="{{ settings.font_size_slider_id }}" type="range" min="{{ settings.min_font_value }}" value="{{ settings.default_font_size }}" max="{{ settings.max_font_value }}" step="2">
                        </div>
                      </div>
                </div>
            </div>
        </div>
      {% endunless %} 
      
    </div>
    <div id="product-detail" class="sixteen columns alpha omega">
        <div class="product-detail-box">
          <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
          {% if settings.display_vendor %}
            <p class="vendor">
              <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
            </p>
          {% endif %}

          {% if variant.sku != blank and settings.display_sku %}
            <p class="sku">
              <span itemprop="sku">{{ variant.sku }}</span>
            </p>
          {% endif %}

          {% unless collection_handles contains 'coming-soon' %}
            <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
              <meta itemprop="seller" content="{{ shop.name | escape }}" />
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
              <meta itemprop="itemCondition" content="New" />

              <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
              <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                <span class="current_price">
                  {% if variant.available %}
                    {% if variant.price > 0 %} 
                      {{ variant.price | money }} 
                    {% else %}
                      {{ settings.free_price_text }}
                    {% endif %}
                  {% endif %}
                </span>
              </span>
              <span class="was_price">
              {% if variant.price < variant.compare_at_price and variant.available %}
                {{ variant.compare_at_price | money }}
              {% endif %}
              </span>
            </p>
            
            {% include 'product-notify-me' %}
          {% endunless %}

          {% unless collection_handles contains 'coming-soon' %}
            <div class="product-form" style="display:none;">
            {% include 'product-form-custom' with 'product' %}
            </div>
          {% endunless %}  

          
          {% if product.description != blank %}
            <div class="description" itemprop="description">
              {{ product.description | split: '<!-- split -->' | first }}
            </div>
          {% endif %}
          
          {% if settings.size_chart != blank %}
            <a href="#size-chart" class="lightbox size_chart">{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
          {% endif %}

          {% if settings.display_collections or settings.display_tags or settings.display_type %}
           <hr />
          {% endif %}
         
          <div class="meta">
            {% if settings.display_social_buttons %}
              <div class="share-button"></div>
            {% endif %}
            
            {% if settings.display_collections %}
              <p>
                <span class="label">{{ 'products.product.collections' | t }}:</span> 
                <span>
                 {% for col in product.collections %}
                   <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %} 
                 {% endfor %}
               </span>
             </p>
            {% endif %}
          
            {% if settings.display_tags %}
               <p>
                 {% for tag in product.tags %}
                   {% if forloop.first %}
                     <span class="label">{{ 'products.product.tags' | t }}:</span> 
                   {% endif %}

                   {% unless tag contains 'meta-related-collection-' %}
                     <span>
                       <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                     </span>
                   {% endunless %} 
                 {% endfor %}
               </p>
            {% endif %}
          
           {% if settings.display_type %}
              <p>
                <span class="label">{{ 'products.product.product_types' | t }}:</span> 
                <span>{{ product.type | link_to_type }}</span>
              </p>
           {% endif %}
          </div>
        </div>
    </div>
  </div>

  {% if product.description contains "<!-- split -->"  %}
    <br class="clear" />
    <div class="section clearfix">
      <div class="description">
        {{ product.description | split: '<!-- split -->' | last }}
      </div>
    </div>
  {% endif %}
  </div>

  {% if settings.display_related_products %}
    {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign col = tag | remove: 'meta-related-collection-' %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
    
    {% assign prod-list = '' %}
    {% for tag in product.tags %}
        {% if tag contains 'meta-related-products-' %}
          {% assign tmp_tag = tag | remove: 'meta-related-products-' %}
          {% assign prod-list = prod-list | append: tmp_tag | append: ';' %}
       {% endif %}
    {% endfor %}
       
    {% if col and collections[col].all_products_count > 0 or prod-list != empty %}
      {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id or prod-list != empty %}
        <br class="clear" />
        <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
        <div class="feature_divider"></div>
        {% assign products_per_row = settings.products_per_row %}
        {% assign skip_product = product %}
        {% if prod-list == empty %} 
            {% assign products = collections[col].products %}
            {% include 'product-loop' with settings.product_sidebar %}
        {% else %}
            {% assign rel-products = prod-list | remove_last: ';' | split: ';' %}
            <div itemtype="http://schema.org/ItemList" class="products related-products">
            {% for p-handle in rel-products %} 
                {% assign product = all_products[p-handle] %}
                {% include 'product-thumbnail' %}
            {% endfor%}
            </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
</div>